Repository documenso/documenso, changes with the labels that .github/labeler.yml gives for each.
All labels: apps: web, version bump ğŸ‘€, ğŸš¨ migrations ğŸš¨, ğŸš¨ e2e changes ğŸš¨, ğŸš¨ .env changes ğŸš¨, pkg: ee changes

feat: add mau card
  apps/web/src/app/(dashboard)/admin/stats/page.tsx
  packages/lib/server-only/admin/get-users-stats.ts
Labels: apps: web

chore: bump node version for docker
  docker/Dockerfile
  docker/start.sh
Labels: none

chore: add webhook
  packages/lib/server-only/document/delete-document.ts
Labels: none

chore: cosmetize the triggerWebhook function
  packages/lib/server-only/document/delete-document.ts
Labels: none

docs: update webhook docs
  apps/documentation/pages/developers/webhooks.mdx
Labels: none

feat: allow same signer email multiple times
  packages/ui/primitives/document-flow/add-signers.types.ts
Labels: none

chore: remove same email check from backend
  packages/trpc/server/recipient-router/schema.ts
Labels: none

chore: remove same email check from backend
  packages/api/v1/schema.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/types.ts
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.types.ts
Labels: none

feat: add text align option to fields
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/types/field-meta.ts
  packages/ui/primitives/document-flow/field-item-advanced-settings.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/date-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/email-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/initials-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/name-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/number-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/text-field.tsx
Labels: apps: web

feat: add text align option to fields (#1610)
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/types/field-meta.ts
  packages/ui/primitives/document-flow/field-item-advanced-settings.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/date-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/email-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/initials-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/name-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/number-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/text-field.tsx
Labels: apps: web

fix: admin leaderboard query sorting (#1548)
  apps/web/src/app/(dashboard)/admin/leaderboard/data-table-leaderboard.tsx
  packages/lib/server-only/admin/get-signing-volume.ts
Labels: apps: web

chore: remove template string
  packages/email/template-components/template-document-invite.tsx
Labels: none

fix: support new prisma fields and metadata
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  packages/lib/jobs/definitions/internal/bulk-send-template.handler.ts
  packages/trpc/server/template-router/router.ts
Labels: apps: web

fix: tidy document invite email render logic (#1597)
  packages/email/template-components/template-document-invite.tsx
Labels: none

feat: bulk send templates via csv (#1578)
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  apps/web/src/components/templates/template-bulk-send-dialog.tsx
  package-lock.json
  packages/email/templates/bulk-send-complete.tsx
  packages/lib/jobs/client.ts
  packages/lib/jobs/definitions/emails/send-bulk-complete-email.ts
  packages/lib/jobs/definitions/internal/bulk-send-template.handler.ts
  packages/lib/jobs/definitions/internal/bulk-send-template.ts
  packages/lib/package.json
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web, version bump ğŸ‘€

chore: add cancelled webhook event (#1608)
  apps/documentation/pages/developers/webhooks.mdx
  packages/lib/server-only/document/delete-document.ts
  packages/prisma/migrations/20250124135853_add_cancelled_event_webhooks/migration.sql
  packages/prisma/schema.prisma
Labels: ğŸš¨ migrations ğŸš¨

chore: wip
  apps/web/src/app/(dashboard)/admin/stats/monthly-active-users-chart.tsx
  apps/web/src/app/(dashboard)/admin/stats/page.tsx
  packages/lib/server-only/admin/get-users-stats.ts
Labels: apps: web

fix: inline use upsert for team global settings
  packages/lib/server-only/team/create-team.ts
Labels: none

fix: create global settings on team creation (#1601)
  packages/lib/server-only/team/create-team.ts
Labels: none

chore: update initial seed script
  package-lock.json
  packages/prisma/seed/initial-seed.ts
Labels: version bump ğŸ‘€

feat: mau
  apps/web/src/app/(dashboard)/admin/stats/mau.tsx
  apps/web/src/app/(dashboard)/admin/stats/monthly-active-users-chart.tsx
  apps/web/src/app/(dashboard)/admin/stats/page.tsx
  package.json
  packages/lib/server-only/admin/get-users-stats.ts
  packages/prisma/mau-seed.ts
  packages/prisma/package.json
Labels: apps: web, version bump ğŸ‘€

chore: cleanup
  apps/web/src/app/(dashboard)/admin/stats/monthly-active-users-chart.tsx
  apps/web/src/app/(dashboard)/admin/stats/page.tsx
  packages/lib/server-only/admin/get-users-stats.ts
  packages/prisma/mau-seed.ts
  packages/prisma/package.json
Labels: apps: web, version bump ğŸ‘€

fix: exclude disabled users
  packages/lib/server-only/admin/get-users-stats.ts
Labels: none

chore: cleanup
  package.json
Labels: version bump ğŸ‘€

.github/labeler.yml:

'apps: web':
  - apps/web/**

'version bump ğŸ‘€':
  - '**/package.json'
  - '**/package-lock.json'

'ğŸš¨ migrations ğŸš¨':
  - packages/prisma/migrations/**/migration.sql

'ğŸš¨ e2e changes ğŸš¨':
  - packages/app-tests/e2e/**

'ğŸš¨ .env changes ğŸš¨':
  - .env.example

'pkg: ee changes':
  - packages/ee/**
