Repository documenso/documenso, changes with the labels that .github/labeler.yml gives for each.
All labels: apps: web, version bump ğŸ‘€, ğŸš¨ migrations ğŸš¨, ğŸš¨ e2e changes ğŸš¨, ğŸš¨ .env changes ğŸš¨, pkg: ee changes

.github/labeler.yml:

'apps: web':
  - apps/web/**

'version bump ğŸ‘€':
  - '**/package.json'
  - '**/package-lock.json'

'ğŸš¨ migrations ğŸš¨':
  - packages/prisma/migrations/**/migration.sql

'ğŸš¨ e2e changes ğŸš¨':
  - packages/app-tests/e2e/**

'ğŸš¨ .env changes ğŸš¨':
  - .env.example

'pkg: ee changes':
  - packages/ee/**

fix: please work
  .github/actions/cache-build/action.yml
  .github/actions/node-install/action.yml
  package-lock.json
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
Labels: version bump ğŸ‘€

fix: correct redirect after document duplication
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
Labels: apps: web

fix: undo action cache changes
  .github/actions/cache-build/action.yml
  .github/actions/node-install/action.yml
Labels: none

feat: add shortcut to template fields
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: none

fix: unable to check on the checkbox field
  apps/web/src/app/(signing)/sign/[token]/checkbox-field.tsx
Labels: apps: web

feat: add angular embedding docs
  apps/documentation/pages/developers/embedding/_meta.json
  apps/documentation/pages/developers/embedding/angular.mdx
  apps/documentation/pages/developers/embedding/index.mdx
Labels: none

fix: correct signer deletion
  packages/ui/primitives/document-flow/add-signers.tsx
Labels: none

fix: pass team id to vanilla trpc client
  apps/web/src/app/(dashboard)/documents/data-table-action-button.tsx
  packages/trpc/client/index.ts
Labels: apps: web

fix: tidy document invite email render logic
  packages/email/template-components/template-document-invite.tsx
Labels: none

feat: add angular embedding docs (#1592)
  apps/documentation/pages/developers/embedding/_meta.json
  apps/documentation/pages/developers/embedding/angular.mdx
  apps/documentation/pages/developers/embedding/index.mdx
Labels: none

feat: audit logs for copying links
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recipients.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view-documents-table.tsx
  apps/web/src/components/(dashboard)/avatar/avatar-with-recipient.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  apps/web/src/components/document/document-recipient-link-copy-dialog.tsx
  packages/lib/types/document-audit-logs.ts
  packages/lib/utils/document-audit-logs.ts
  packages/trpc/server/document-router/router.ts
  packages/ui/primitives/document-flow/add-subject.tsx
Labels: apps: web

chore: document recent activity
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recent-activity.tsx
  packages/lib/server-only/document/find-document-audit-logs.ts
Labels: apps: web

fix: create audit log router
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: none

feat: add get field endpoints
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
Labels: none

feat: add get field endpoints (#1599)
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
Labels: none

fix: add team context to more vanilla client usages
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
Labels: apps: web

v1.9.0-rc.9
  apps/web/package.json
  package-lock.json
  package.json
Labels: apps: web, version bump ğŸ‘€

fix: add empty success responses
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  packages/lib/types/document.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/template-router/router.ts
Labels: apps: web

fix: undo password changes
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  packages/lib/types/document.ts
Labels: apps: web

fix: undo password changes
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
Labels: apps: web

fix: add empty success responses (#1600)
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/template-router/router.ts
Labels: none

v1.9.0-rc.10
  apps/web/package.json
  package-lock.json
  package.json
Labels: apps: web, version bump ğŸ‘€

feat: assistant audit logs
  apps/web/src/app/(signing)/sign/[token]/assistant-checkbox-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-radio-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-text-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/server-only/recipient/get-recipients-for-assistant-signing.ts
  packages/lib/types/document-audit-logs.ts
  packages/lib/utils/document-audit-logs.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/field-router/schema.ts
Labels: apps: web

fix: create global settings on team creation
  packages/lib/server-only/team/create-team.ts
Labels: none

fix: create global settings on team creation from pending team
  packages/lib/server-only/team/create-team.ts
Labels: none

chore: refactor
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-checkbox-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-confirmation-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-radio-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-text-field.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  packages/email/template-components/template-document-invite.tsx
  packages/lib/constants/document-audit-logs.ts
  packages/lib/server-only/recipient/get-recipient-by-token.ts
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
  packages/lib/types/document-audit-logs.ts
Labels: apps: web

chore: revert translations
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
  packages/lib/translations/pl/web.po
Labels: none

fix: set default value for signer radio
  apps/web/src/app/(signing)/sign/[token]/form.tsx
Labels: apps: web

fix: handle empty object as fieldMeta
  packages/lib/types/field-meta.ts
Labels: none

v1.9.0-rc.11
  apps/web/package.json
  package-lock.json
  package.json
Labels: apps: web, version bump ğŸ‘€

chore: darkmode
  apps/web/src/app/(signing)/sign/[token]/form.tsx
Labels: apps: web

fix: translations
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
  packages/lib/translations/pl/web.po
Labels: none

fix: avoid closing the dialog before redirection happens
  apps/web/src/app/(signing)/sign/[token]/form.tsx
Labels: apps: web

chore: rewording
  packages/ui/components/recipient/recipient-role-select.tsx
Labels: none

feat: copy, paste, duplicate template fields (#1594)
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: none

fix: correct redirect after document duplication (#1595)
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
Labels: apps: web

chore: add label for radio field
  packages/ui/primitives/document-flow/field-items-advanced-settings/radio-field.tsx
Labels: none

chore: add label for checkbox field
  packages/ui/primitives/document-flow/field-items-advanced-settings/checkbox-field.tsx
Labels: none

chore: add label for radio field
  packages/ui/primitives/document-flow/advanced-fields/radio.tsx
Labels: none

chore: add cancelled webhook event
  packages/prisma/migrations/20250124135853_add_cancelled_event_webhooks/migration.sql
  packages/prisma/schema.prisma
Labels: ğŸš¨ migrations ğŸš¨
