Repository documenso/documenso, changes with the labels that .github/labeler.yml gives for each.
All labels: apps: web, version bump ğŸ‘€, ğŸš¨ migrations ğŸš¨, ğŸš¨ e2e changes ğŸš¨, ğŸš¨ .env changes ğŸš¨, pkg: ee changes

fix: use reduce to create the linkAccount data
  packages/lib/next-auth/auth-options.ts
Labels: none

feat: ignore unrecognized fields from authorization response (#1479)
  packages/lib/next-auth/auth-options.ts
Labels: none

fix: signatures
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/embed/direct/[[...url]]/client.tsx
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/prisma/types/field-with-signature-and-fieldmeta.ts
  packages/prisma/types/field-with-signature.ts
Labels: apps: web

feat: add consistent response schemas
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  package-lock.json
  packages/api/v1/implementation.ts
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/duplicate-document-by-id.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-document-with-details-by-id.ts
  packages/lib/server-only/document/move-document-to-team.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/document/update-document.ts
  packages/lib/server-only/field/create-document-fields.ts
  packages/lib/server-only/field/create-template-fields.ts
  packages/lib/server-only/field/get-field-by-id.ts
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/field/set-fields-for-template.ts
  packages/lib/server-only/field/update-document-fields.ts
  packages/lib/server-only/field/update-template-fields.ts
  packages/lib/server-only/recipient/create-document-recipients.ts
  packages/lib/server-only/recipient/create-template-recipients.ts
  packages/lib/server-only/recipient/get-recipient-by-id.ts
  packages/lib/server-only/recipient/set-document-recipients.ts
  packages/lib/server-only/recipient/set-template-recipients.ts
  packages/lib/server-only/recipient/update-document-recipients.ts
  packages/lib/server-only/recipient/update-template-recipients.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/types/document.ts
  packages/lib/types/field.ts
  packages/lib/types/recipient.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/field-router/schema.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web, version bump ğŸ‘€

fix: missing errors
  apps/web/src/pages/api/v2-beta/[...trpc].ts
  packages/lib/server-only/document/duplicate-document-by-id.ts
Labels: apps: web

fix: signers sorting in assistant role
  packages/ui/primitives/document-flow/add-signers.tsx
Labels: none

feat: show confirmation when disabling signing order with assistants
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/signing-order-confirmation.tsx
Labels: none

feat: add prisma json types
  apps/documentation/package.json
  apps/openpage-api/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/api/v1/implementation.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/eslint-config/package.json
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/field/update-field.ts
  packages/lib/types/document-form-values.ts
  packages/lib/types/field-meta.ts
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/prisma/types/types.d.ts
  packages/signing/helpers/update-signing-placeholder.ts
  packages/signing/transports/google-cloud-hsm.ts
  packages/signing/transports/local-cert.ts
  packages/ui/package.json
Labels: apps: web, version bump ğŸ‘€, ğŸš¨ e2e changes ğŸš¨

chore: align @types/node versions
  apps/openpage-api/package.json
  apps/web/package.json
  package-lock.json
  packages/app-tests/package.json
Labels: apps: web, version bump ğŸ‘€

fix: reference prisma json types
  packages/prisma/index.ts
Labels: none

feat: add prisma json types (#1583)
  apps/documentation/package.json
  apps/openpage-api/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/api/v1/implementation.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/app-tests/package.json
  packages/eslint-config/package.json
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/field/update-field.ts
  packages/lib/types/document-form-values.ts
  packages/lib/types/field-meta.ts
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/prisma/types/types.d.ts
  packages/signing/helpers/update-signing-placeholder.ts
  packages/signing/transports/google-cloud-hsm.ts
  packages/signing/transports/local-cert.ts
  packages/ui/package.json
Labels: apps: web, version bump ğŸ‘€, ğŸš¨ e2e changes ğŸš¨

feat: add create document beta endpoint
  packages/lib/constants/date-formats.ts
  packages/lib/server-only/document/create-document-v2.ts
  packages/lib/server-only/field/create-document-fields.ts
  packages/lib/types/field-meta.ts
  packages/lib/types/field.ts
  packages/prisma/schema.prisma
  packages/prisma/types/types.d.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/field-router/schema.ts
  packages/trpc/server/open-api.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/ui/primitives/document-flow/add-settings.types.ts
  packages/ui/primitives/template-flow/add-template-settings.types.tsx
Labels: none

fix: extract document visiblity logic
  packages/lib/server-only/document/create-document-v2.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/utils/document-visibility.ts
Labels: none

feat: filter assistant from adding fields
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/templates/template-direct-link-dialog.tsx
  packages/lib/constants/recipient-roles.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
Labels: apps: web

fix: refactor template schemas
  apps/web/src/app/(dashboard)/documents/data-table-action-button.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-profile-page-view.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-templates-data-table.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(recipient)/d/[token]/configure-direct-template.tsx
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  packages/lib/server-only/template/create-template-direct-link.ts
  packages/lib/server-only/template/duplicate-template.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/lib/server-only/template/move-template-to-team.ts
  packages/lib/server-only/template/toggle-template-direct-link.ts
  packages/lib/server-only/template/update-template.ts
  packages/lib/types/template.ts
  packages/prisma/schema.prisma
  packages/prisma/types/document-with-data.ts
  packages/prisma/types/template.ts
  packages/prisma/types/types.d.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/template-flow/add-template-settings.tsx
Labels: apps: web

feat: add signer radio on assistant form
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  packages/lib/server-only/field/get-fields-for-token.ts
  packages/lib/server-only/recipient/get-recipients-for-assistant-signing.ts
  packages/prisma/types/recipient-with-fields.ts
  packages/ui/primitives/radio-group.tsx
Labels: apps: web

fix: update test machine
  .github/workflows/e2e-tests.yml
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
Labels: none

fix: update test machine
  .github/workflows/e2e-tests.yml
Labels: none

fix: update test machine
  .github/workflows/e2e-tests.yml
Labels: none

fix: update test machine
  packages/app-tests/e2e/document-flow/settings-step.spec.ts
Labels: ğŸš¨ e2e changes ğŸš¨

fix: update test machine
  .github/workflows/e2e-tests.yml
Labels: none

fix: update test machine
  .github/workflows/e2e-tests.yml
Labels: none

fix: update test machine
  .github/workflows/e2e-tests.yml
  packages/app-tests/e2e/document-flow/settings-step.spec.ts
  packages/app-tests/playwright.config.ts
  packages/trpc/server/document-router/schema.ts
Labels: ğŸš¨ e2e changes ğŸš¨

feat: filter fields based on selected signer
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

feat: add assistant fields for name, email, initials and date
  apps/web/src/app/(signing)/sign/[token]/assistant-date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

feat: add asssitant text and number fields
  apps/web/src/app/(signing)/sign/[token]/assistant-number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-text-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

feat: add asssitant radio,checkbox and dropdown fields
  apps/web/src/app/(signing)/sign/[token]/assistant-checkbox-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-radio-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

chore: minor refactor
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

feat: add assistant completion
  apps/web/src/app/(signing)/sign/[token]/assistant-date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant-name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

feat: add completion dialog
  apps/web/src/app/(signing)/sign/[token]/assistant-confirmation-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
Labels: apps: web

fix: dialog closing
  apps/web/src/app/(signing)/sign/[token]/assistant-confirmation-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
Labels: apps: web

chore: minor refactor
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

fix: dialog closing
  apps/web/src/app/(signing)/sign/[token]/assistant-confirmation-dialog.tsx
Labels: apps: web

fix: template assistant role
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.tsx
Labels: none

fix: build
  apps/web/package.json
  package-lock.json
  packages/trpc/package.json
Labels: apps: web, version bump ğŸ‘€

fix: build
  .github/actions/cache-build/action.yml
  .github/actions/node-install/action.yml
  apps/web/src/pages/api/v2-beta/[...trpc].ts
Labels: apps: web

fix: build
  .github/actions/cache-build/action.yml
  .github/actions/node-install/action.yml
  package-lock.json
Labels: version bump ğŸ‘€

fix: build
  .github/workflows/codeql-analysis.yml
Labels: none

fix: build
  apps/web/package.json
  package-lock.json
  package.json
  packages/trpc/package.json
Labels: apps: web, version bump ğŸ‘€

fix: please work
  apps/web/package.json
  package-lock.json
Labels: apps: web, version bump ğŸ‘€

.github/labeler.yml:

'apps: web':
  - apps/web/**

'version bump ğŸ‘€':
  - '**/package.json'
  - '**/package-lock.json'

'ğŸš¨ migrations ğŸš¨':
  - packages/prisma/migrations/**/migration.sql

'ğŸš¨ e2e changes ğŸš¨':
  - packages/app-tests/e2e/**

'ğŸš¨ .env changes ğŸš¨':
  - .env.example

'pkg: ee changes':
  - packages/ee/**
