Repository documenso/documenso, pull requests merged in 2023-12, with the labels that each got.

#643 feat: add Two factor auth feature
  .env.example
  apps/web/package.json
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  apps/web/src/app/(dashboard)/settings/password/page.tsx
  apps/web/src/app/(dashboard)/settings/profile/page.tsx
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
  apps/web/src/components/(dashboard)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/settings/layout/mobile-nav.tsx
  apps/web/src/components/forms/2fa/authenticator-app.tsx
  apps/web/src/components/forms/2fa/disable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/recovery-code-list.tsx
  apps/web/src/components/forms/2fa/recovery-codes.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
  apps/web/src/components/forms/signin.tsx
  package-lock.json
  packages/lib/constants/crypto.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/next-auth/error-codes.ts
  packages/lib/package.json
  packages/lib/server-only/2fa/disable-2fa.ts
  packages/lib/server-only/2fa/enable-2fa.ts
  packages/lib/server-only/2fa/get-backup-code.ts
  packages/lib/server-only/2fa/is-2fa-availble.ts
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/2fa/validate-2fa.ts
  packages/lib/server-only/2fa/verify-2fa-token.ts
  packages/lib/server-only/2fa/verify-backup-code.ts
  packages/lib/server-only/auth/hash.ts
  packages/lib/universal/crypto.ts
  packages/prisma/migrations/20231105184518_add_2fa/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/package.json
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/auth-router/schema.ts
  packages/trpc/server/router.ts
  packages/trpc/server/two-factor-authentication-router/router.ts
  packages/trpc/server/two-factor-authentication-router/schema.ts
  packages/tsconfig/process-env.d.ts
  packages/ui/primitives/input.tsx
  turbo.json
Labels: 💰 Rewarded

#711 feat: Allow for the deletion of any document
  .github/workflows/e2e-tests.yml
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/no-longer-available.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
  packages/app-tests/e2e/pr-711-deletion-of-documents.spec.ts
  packages/app-tests/e2e/test-auth-flow.spec.ts
  packages/app-tests/package.json
  packages/app-tests/tsconfig.json
  packages/email/template-components/template-document-cancel.tsx
  packages/email/templates/document-cancel.tsx
  packages/lib/server-only/document/delete-document.ts
  packages/lib/server-only/document/delete-draft-document.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-stats.ts
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/prisma/migrations/20231202134005_deletedocuments/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed-database.ts
  packages/prisma/seed/initial-seed.ts
  packages/prisma/seed/pr-711-deletion-of-documents.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: osshack

#713 feat: add document search to the command menu
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  packages/app-tests/e2e/pr-713-add-document-search-to-command-menu.spec.ts
  packages/lib/server-only/document/search-documents-with-keyword.ts
  packages/prisma/seed/pr-713-add-document-search-to-command-menu.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: osshack

#718 feat: add stepper component
  apps/marketing/src/app/(marketing)/layout.tsx
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/marketing/src/pages/api/trpc/[trpc].ts
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/pages/api/trpc/[trpc].ts
  packages/app-tests/e2e/pr-718-add-stepper-component.spec.ts
  packages/prisma/seed/pr-718-add-stepper-component.ts
  packages/ui/components/document/document-download-button.tsx
  packages/ui/components/document/document-share-button.tsx
  packages/ui/components/field/field-tooltip.tsx
  packages/ui/components/field/field.tsx
  packages/ui/components/signing-card.tsx
  packages/ui/primitives/combobox.tsx
  packages/ui/primitives/document-dropzone.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/document-flow/add-title.tsx
  packages/ui/primitives/document-flow/document-flow-root.tsx
  packages/ui/primitives/document-flow/field-item.tsx
  packages/ui/primitives/document-flow/send-document-action-dialog.tsx
  packages/ui/primitives/document-flow/single-player-mode-fields.tsx
  packages/ui/primitives/document-flow/types.ts
  packages/ui/primitives/form/form-error-message.tsx
  packages/ui/primitives/form/form.tsx
  packages/ui/primitives/pdf-viewer.tsx
  packages/ui/primitives/signature-pad/signature-pad.tsx
  packages/ui/primitives/stepper.tsx
Labels: osshack

#548 fix(pre-commit): added lint staged to install and add all packages from package.json and add to commit
  lint-staged.config.cjs
  package.json
Labels: ☣️ Malfunction Mania

#734 feat: add multi subscription support
  .env.example
  apps/marketing/process-env.d.ts
  apps/marketing/src/components/(marketing)/claim-plan-dialog.tsx
  apps/marketing/src/components/(marketing)/pricing-table.tsx
  apps/web/process-env.d.ts
  apps/web/src/app/(dashboard)/admin/users/data-table-users.tsx
  apps/web/src/app/(dashboard)/admin/users/page.tsx
  apps/web/src/app/(dashboard)/settings/billing/billing-plans.tsx
  apps/web/src/app/(dashboard)/settings/billing/create-billing-portal.action.ts
  apps/web/src/app/(dashboard)/settings/billing/create-checkout.action.ts
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  packages/ee/server-only/limits/server.ts
  packages/ee/server-only/stripe/create-customer.ts
  packages/ee/server-only/stripe/get-customer.ts
  packages/ee/server-only/stripe/get-prices-by-interval.ts
  packages/ee/server-only/stripe/get-prices-by-type.ts
  packages/ee/server-only/stripe/webhook/handler.ts
  packages/ee/server-only/stripe/webhook/on-subscription-deleted.ts
  packages/ee/server-only/stripe/webhook/on-subscription-updated.ts
  packages/lib/server-only/admin/get-users-stats.ts
  packages/lib/server-only/subscription/get-subscription-by-user-id.ts
  packages/lib/server-only/subscription/get-subscriptions-by-user-id.ts
  packages/lib/server-only/user/create-user.ts
  packages/prisma/migrations/20231206073509_add_multple_subscriptions/migration.sql
  packages/prisma/schema.prisma
  packages/tsconfig/process-env.d.ts
  render.yaml
  turbo.json
Labels: apps: web, 🚨 migrations 🚨, 🚨 .env changes 🚨, apps: marketing, pkg: ee changes

#758 chore: fix workflows and update package.json file
  .github/workflows/issue-assignee-check.yml
  .github/workflows/pr-review-reminder.yml
  .github/workflows/semantic-pull-requests.yml
  package.json
Labels: version bump 👀

#751 refactor: used constant for steps instead of strings
  apps/marketing/src/components/(marketing)/widget.tsx
  apps/marketing/src/components/constants.ts
Labels: apps: marketing

#480 feat: added undo button while drawing signature
  packages/ui/primitives/signature-pad/signature-pad.tsx
Labels: ☣️ Malfunction Mania, Stale

#774 fix: hotkeys was overlapping with the browser hotkeys
  apps/web/src/components/(dashboard)/common/command-menu.tsx
Labels: apps: web

#762 fix(webapp): reset delete document dialog
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
Labels: apps: web

#772 feat: show document title for delete dialog - [DOC-387]
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
Labels: apps: web

#777 fix: added constants for theme variables
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  packages/ui/primitives/constants.ts
  packages/ui/primitives/theme-switcher.tsx
Labels: apps: web

#769 chore: user metrics naming, adopters description
  apps/marketing/src/app/(marketing)/open/monthly-new-users-chart.tsx
  apps/marketing/src/app/(marketing)/open/monthly-total-users-chart.tsx
  apps/marketing/src/app/(marketing)/open/tooltip.tsx
Labels: apps: marketing

#506 feat: dateformat and timezone customization
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/marketing/src/components/(marketing)/single-player-mode/create-single-player-document.action.ts
  apps/marketing/src/pages/api/stripe/webhook/index.ts
  apps/web/src/app/(dashboard)/admin/users/[id]/page.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  apps/web/src/components/formatter/document-status.tsx
  apps/web/src/components/formatter/locale-date.tsx
  apps/web/src/components/forms/edit-document/add-subject.action.ts
  package-lock.json
  packages/email/templates/document-invite.tsx
  packages/lib/client-only/recipient-type.ts
  packages/lib/constants/date-formats.ts
  packages/lib/constants/time-zones.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/package.json
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/duplicate-document-by-id.ts
  packages/lib/server-only/document/get-document-meta-by-document-id.ts
  packages/lib/server-only/document/get-stats.ts
  packages/lib/server-only/document/update-document.ts
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/utils/recipient-formatter.ts
  packages/prisma/migrations/20231207134820_add_document_meta_dateformat_timezone/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/types/document-with-data.ts
  packages/prisma/types/document-with-recipient.ts
  packages/prisma/types/field-with-signature.ts
  packages/trpc/server/trpc.ts
  packages/ui/lib/utils.ts
  packages/ui/primitives/combobox.tsx
  packages/ui/primitives/command.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/document-flow/add-subject.types.ts
  packages/ui/primitives/multiselect-combobox.tsx
Labels: ☣️ Malfunction Mania

#749 feat: disable upload document animation for unverified users
  apps/web/src/providers/next-auth.tsx
  packages/ui/primitives/document-dropzone.tsx
  packages/ui/primitives/toast.tsx
  packages/ui/primitives/use-toast.ts
Labels: apps: web

#787 feat: update disabled dropzone text
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  packages/ui/primitives/document-dropzone.tsx
Labels: apps: web

#788 fix: resolve conflicting z-index values
  apps/web/src/components/(dashboard)/layout/header.tsx
  packages/ui/primitives/dialog.tsx
  packages/ui/primitives/select.tsx
  packages/ui/primitives/toast.tsx
Labels: apps: web

#786 feat: add templates to command menu
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  packages/lib/constants/keyboard-shortcuts.ts
Labels: apps: web

#760 fix: trimmed long file names for better UX
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  apps/web/src/helpers/truncate-title.ts
Labels: apps: web
