Repository documenso/documenso, pull requests merged in 2023-10, with the labels that each got.

#438 chore: and now his watch has ended
  apps/marketing/src/app/(marketing)/open/data.ts
Labels: documentation

#468 fix: update icons
  apps/marketing/package.json
  apps/marketing/src/components/(marketing)/callout.tsx
  apps/marketing/src/components/(marketing)/footer.tsx
  apps/marketing/src/components/(marketing)/hero.tsx
  apps/marketing/src/components/(marketing)/mobile-navigation.tsx
  apps/web/package.json
  apps/web/src/app/(signing)/sign/[token]/complete/share-button.tsx
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
  package-lock.json
Labels: 💰 Rewarded

#384 feat: add Stripe free tier subscription
  .env.example
  apps/marketing/process-env.d.ts
  apps/web/process-env.d.ts
  apps/web/src/app/(dashboard)/settings/billing/billing-plans.tsx
  apps/web/src/app/(dashboard)/settings/billing/billing-portal-button.tsx
  apps/web/src/app/(dashboard)/settings/billing/create-billing-portal.action.ts
  apps/web/src/app/(dashboard)/settings/billing/create-checkout.action.ts
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  apps/web/src/pages/api/stripe/webhook/index.ts
  packages/ee/server-only/stripe/get-checkout-session.ts
  packages/ee/server-only/stripe/get-customer.ts
  packages/ee/server-only/stripe/get-prices-by-interval.ts
  packages/lib/server-only/stripe/index.ts
  packages/lib/server-only/stripe/stripe.d.ts
  packages/lib/universal/stripe/to-human-price.ts
  packages/prisma/migrations/20230918111438_update_subscription_constraints_and_columns/migration.sql
  packages/prisma/schema.prisma
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: coderabbit

#553 chore: upgrade to latest next.js version
  .gitignore
  apps/marketing/next.config.js
  apps/marketing/package.json
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/marketing/src/app/(marketing)/singleplayer/page.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/(dashboard)/admin/users/data-table-users.tsx
  package-lock.json
  package.json
  packages/ee/package.json
  packages/email/render.ts
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/universal/upload/get-file.ts
  packages/lib/universal/upload/put-file.ts
  packages/lib/universal/upload/server-actions.ts
  packages/lib/universal/upload/update-file.ts
  packages/prisma/package.json
  packages/prisma/tsconfig.seed.json
  packages/ui/package.json
  packages/ui/primitives/alert-dialog.tsx
  packages/ui/primitives/dialog.tsx
  packages/ui/primitives/sheet.tsx
Labels: 💰 Rewarded

#591 feat: update the README for the self-hosting users
  README.md
Labels: ☣️ Malfunction Mania

#583 fix(web): fix typo + refactor empty state messages
  apps/web/src/app/(dashboard)/documents/empty-state.tsx
Labels: ☣️ Malfunction Mania
