Repository documenso/documenso, pull requests merged in 2023-11, with the labels that each got.

#584 fix: change from forgotten to forgot password
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/signin/page.tsx
Labels: ☣️ Malfunction Mania

#460 fix: hiding of action buttons
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/document-flow-root.tsx
  packages/ui/styles/theme.css
Labels: ☣️ Malfunction Mania

#337 feat: add command menu and keyboard shortcuts
  apps/web/package.json
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  package-lock.json
  package.json
  packages/lib/constants/keyboard-shortcuts.ts
  packages/ui/primitives/command.tsx
Labels: assigned

#338 feat: use nextjs.js standalone output for improvised docker image
  apps/web/next.config.js
  docker/Dockerfile
  docker/compose-test.yml
  packages/prisma/helper.ts
  packages/prisma/package.json
Labels: 💰 Rewarded

#344 chore: add some eslint rules
  .prettierignore
  apps/marketing/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/trpc/package.json
  packages/ui/package.json
  turbo.json
Labels: 💰 Rewarded

#466 fix: safari pdf overflow issue fixed
  packages/ui/primitives/pdf-viewer.tsx
Labels: ☣️ Malfunction Mania

#529 feat: add dark mode toggle
  apps/marketing/src/components/(marketing)/footer.tsx
  package-lock.json
  packages/ui/package.json
  packages/ui/primitives/theme-switcher.tsx
Labels: ☣️ Malfunction Mania
