Repository documenso/documenso, pull requests merged in 2024-11, with the labels that each got.

#1424 fix: missing not found page for deleted documents
  apps/web/src/app/(signing)/sign/[token]/page.tsx
Labels: apps: web

#1395 feat: add template page
  apps/web/src/app/(dashboard)/templates/[id]/edit/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/page.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/template-edit-page-view.tsx
  apps/web/src/app/(dashboard)/templates/[id]/page.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-direct-link-dialog-wrapper.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view-documents-table.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view-information.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view-recent-activity.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view-recipients.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(dashboard)/templates/new-template-dialog.tsx
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/templates/[id]/edit/page.tsx
  apps/web/src/components/document/document-read-only-fields.tsx
  apps/web/src/components/forms/search-param-selector.tsx
  packages/app-tests/e2e/templates-flow/template-settings-step.spec.ts
  packages/app-tests/e2e/templates-flow/template-signers-step.spec.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: apps: web, 🚨 e2e changes 🚨

#1440 feat: add certificate translations
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recent-activity.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-data-table.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/audit-log/data-table.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/audit-log/page.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/certificate/page.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  packages/lib/constants/document.ts
  packages/lib/constants/recipient-roles.ts
  packages/lib/utils/document-audit-logs.ts
Labels: apps: web

#1445 fix: checkout loading button
  apps/web/src/app/(dashboard)/settings/billing/billing-plans.tsx
Labels: apps: web

#1447 feat(email): support configurable SMTP service
  .env.example
  docker/production/compose.yml
  packages/email/mailer.ts
  turbo.json
Labels: 🚨 .env changes 🚨

#1454 fix: email translations
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  packages/email/template-components/template-confirmation-email.tsx
  packages/email/template-components/template-document-completed.tsx
  packages/email/template-components/template-document-invite.tsx
  packages/email/templates/document-created-from-direct-template.tsx
  packages/email/templates/document-invite.tsx
  packages/email/templates/recipient-removed-from-document.tsx
  packages/lib/constants/recipient-roles.ts
  packages/lib/jobs/definitions/emails/send-signing-email.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: apps: web

#1437 feat: add document distribution setting
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/lib/constants/document.ts
  packages/lib/jobs/definitions/emails/send-signing-email.ts
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/delete-document.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/lib/server-only/document/send-completed-email.ts
  packages/lib/server-only/document/send-delete-email.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/document/send-pending-email.ts
  packages/lib/server-only/document/super-delete-document.ts
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/duplicate-template.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/template/update-template-settings.ts
  packages/lib/types/document-email.ts
  packages/prisma/migrations/20241107095908_add_document_email_setting/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/components/document/document-email-checkboxes.tsx
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/document-flow/add-subject.types.ts
  packages/ui/primitives/template-flow/add-template-settings.tsx
  packages/ui/primitives/template-flow/add-template-settings.types.tsx
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1420 chore: project babel
  apps/marketing/content/blog/project-babel.mdx
  apps/marketing/public/blog/babel.png
Labels: apps: marketing

#1453 fix: fix the document url in the command menu search
  packages/lib/server-only/document/search-documents-with-keyword.ts
Labels: apps: web

#1460 fix: certificate translations
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-certificate-button.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/preferences/document-preferences.tsx
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/htmltopdf/get-certificate-pdf.ts
Labels: apps: web

#1472 feat: signature rejection
  .github/workflows/publish.yml
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recent-activity.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recipients.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/reject-document-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/rejected/page.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatar.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  packages/email/template-components/template-document-invite.tsx
  packages/email/template-components/template-document-rejected.tsx
  packages/email/template-components/template-document-rejection-confirmed.tsx
  packages/email/templates/document-rejected.tsx
  packages/email/templates/document-rejection-confirmed.tsx
  packages/lib/client-only/recipient-type.ts
  packages/lib/jobs/client.ts
  packages/lib/jobs/definitions/emails/send-rejection-emails.ts
  packages/lib/server-only/admin/get-recipients-stats.ts
  packages/lib/server-only/document/find-document-audit-logs.ts
  packages/lib/server-only/document/reject-document-with-token.ts
  packages/lib/server-only/document/send-completed-email.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.po
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/marketing.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/marketing.po
  packages/lib/translations/fr/web.js
  packages/lib/translations/fr/web.po
  packages/lib/types/document-audit-logs.ts
  packages/lib/utils/document-audit-logs.ts
  packages/prisma/migrations/20241112223435_add_rejection_status_and_reason_to_recipient_schema/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
Labels: apps: web, 🚨 migrations 🚨, apps: marketing

#1476 fix: always allow access to billing
  apps/web/src/app/(dashboard)/settings/billing/billing-portal-button.tsx
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
Labels: apps: web

#1484 feat: automatically sign fields in large documents
  apps/web/src/app/(signing)/sign/[token]/auto-sign.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/marketing.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/marketing.po
  packages/lib/translations/fr/web.po
  packages/ui/primitives/dialog.tsx
  packages/ui/primitives/document-flow/types.ts
Labels: apps: web

#1486 fix: improve field sizing
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatar.tsx
  package-lock.json
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/web.po
  packages/tailwind-config/index.cjs
  packages/tailwind-config/package.json
  packages/ui/primitives/auto-sized-text.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/field-icon.tsx
  packages/ui/primitives/document-flow/field-item.tsx
  packages/ui/primitives/document-flow/show-field-item.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: apps: web, version bump 👀

#1487 fix: hardcode delete confirmation text to avoid translation mismatch
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
Labels: apps: web

#1477 feat: download doc without signing certificate
  apps/web/src/app/(teams)/t/[teamUrl]/settings/preferences/document-preferences.tsx
  package-lock.json
  packages/app-tests/e2e/features/include-document-certificate.spec.ts
  packages/app-tests/package.json
  packages/lib/jobs/definitions/emails/send-team-deleted-email.ts
  packages/lib/jobs/definitions/internal/seal-document.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/htmltopdf/get-certificate-pdf.ts
  packages/lib/server-only/team/update-team-document-settings.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/marketing.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/marketing.po
  packages/lib/translations/fr/web.po
  packages/prisma/migrations/20241122081012_download_document_without_certificate/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/team-router/schema.ts
Labels: apps: web, version bump 👀, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1436 chore: enable typed signature by default
  apps/web/src/app/(dashboard)/templates/[id]/edit/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/certificate/page.tsx
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/provider.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/preferences/document-preferences.tsx
  apps/web/src/app/embed/completed.tsx
  apps/web/src/app/embed/direct/[[...url]]/client.tsx
  apps/web/src/app/embed/document-fields.tsx
  apps/web/src/app/embed/sign/[[...url]]/client.tsx
  apps/web/src/components/(teams)/forms/update-team-form.tsx
  apps/web/src/components/forms/profile.tsx
  package-lock.json
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/app-tests/e2e/teams/team-global-settings.spec.ts
  packages/lib/jobs/definitions/emails/send-team-deleted-email.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/server-only/team/update-team-document-settings.ts
  packages/lib/server-only/team/update-team.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/web.po
  packages/prisma/migrations/20241101112106_enable_typed_signature_by_default/migration.sql
  packages/prisma/migrations/20241119123601_add_typed_signature_team_global_settings/migration.sql
  packages/prisma/migrations/20241126014353_add_typed_signature_setting_to_templates/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/team-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/signature-pad/signature-pad.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
  packages/ui/primitives/template-flow/add-template-fields.types.ts
Labels: apps: web, version bump 👀, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1467 fix: document title truncation
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/template-edit-page-view.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(recipient)/d/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

#1494 feat: add initial api logging
  .env.example
  apps/web/src/pages/api/trpc/[trpc].ts
  package-lock.json
  packages/ee/server-only/stripe/get-team-prices.ts
  packages/ee/server-only/stripe/transfer-team-subscription.ts
  packages/lib/errors/app-error.ts
  packages/lib/package.json
  packages/lib/server-only/auth/create-passkey-authentication-options.ts
  packages/lib/server-only/auth/create-passkey.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/get-document-by-id.ts
  packages/lib/server-only/document/get-document-by-token.ts
  packages/lib/server-only/document/is-recipient-authorized.ts
  packages/lib/server-only/document/update-document-settings.ts
  packages/lib/server-only/document/validate-field-auth.ts
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/profile/get-public-profile-by-url.ts
  packages/lib/server-only/public-api/get-all-team-tokens.ts
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/lib/server-only/recipient/set-recipients-for-template.ts
  packages/lib/server-only/recipient/update-recipient.ts
  packages/lib/server-only/team/create-team-checkout-session.ts
  packages/lib/server-only/team/create-team-email-verification.ts
  packages/lib/server-only/team/create-team-member-invites.ts
  packages/lib/server-only/team/create-team.ts
  packages/lib/server-only/team/delete-team-members.ts
  packages/lib/server-only/team/find-team-invoices.ts
  packages/lib/server-only/team/get-team-public-profile.ts
  packages/lib/server-only/team/resend-team-email-verification.ts
  packages/lib/server-only/team/resend-team-member-invitation.ts
  packages/lib/server-only/team/update-team-member.ts
  packages/lib/server-only/team/update-team.ts
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/create-template-direct-link.ts
  packages/lib/server-only/template/delete-template-direct-link.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/lib/server-only/template/get-template-with-details-by-id.ts
  packages/lib/server-only/template/toggle-template-direct-link.ts
  packages/lib/server-only/template/update-template-settings.ts
  packages/lib/server-only/user/create-user.ts
  packages/lib/server-only/user/get-user-public-profile.ts
  packages/lib/server-only/user/update-public-profile.ts
  packages/lib/utils/logger.ts
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/profile-router/router.ts
  packages/trpc/server/team-router/router.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/trpc.ts
  packages/trpc/server/two-factor-authentication-router/router.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: apps: web, version bump 👀, 🚨 .env changes 🚨, pkg: ee changes
