Repository documenso/documenso, pull requests merged in 2024-09, with the labels that each got.

#1300 chore: upgrade next
  .github/actions/cache-build/action.yml
  .github/actions/node-install/action.yml
  apps/documentation/package.json
  apps/documentation/pages/users/signing-documents/fields.mdx
  apps/documentation/pages/users/signing-documents/index.mdx
  apps/documentation/pages/users/templates.mdx
  apps/marketing/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/ee/package.json
  packages/lib/package.json
  packages/ui/package.json
Labels: apps: web, version bump 👀, apps: marketing, pkg: ee changes

#1322 feat: embed signing experience
  apps/documentation/pages/developers/_meta.json
  apps/documentation/pages/developers/embedding/index.mdx
  apps/documentation/pages/developers/embedding/preact.mdx
  apps/documentation/pages/developers/embedding/react.mdx
  apps/documentation/pages/developers/embedding/solid.mdx
  apps/documentation/pages/developers/embedding/svelte.mdx
  apps/documentation/pages/developers/embedding/vue.mdx
  apps/documentation/public/embedding/copy-recipient-token.png
  apps/documentation/public/embedding/enable-direct-link.png
  apps/documentation/public/embedding/team-templates.png
  apps/web/package.json
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/app/embed/authenticate.tsx
  apps/web/src/app/embed/base-schema.ts
  apps/web/src/app/embed/client-loading.tsx
  apps/web/src/app/embed/completed.tsx
  apps/web/src/app/embed/direct/[[...url]]/client.tsx
  apps/web/src/app/embed/direct/[[...url]]/not-found.tsx
  apps/web/src/app/embed/direct/[[...url]]/page.tsx
  apps/web/src/app/embed/direct/[[...url]]/schema.ts
  apps/web/src/app/embed/document-fields.tsx
  apps/web/src/app/embed/paywall.tsx
  apps/web/src/app/embed/sign/[[...url]]/client.tsx
  apps/web/src/app/embed/sign/[[...url]]/not-found.tsx
  apps/web/src/app/embed/sign/[[...url]]/page.tsx
  apps/web/src/app/embed/sign/[[...url]]/schema.ts
  apps/web/src/components/forms/signin.tsx
  apps/web/src/middleware.ts
  package-lock.json
  packages/lib/client-only/hooks/use-throttle-fn.ts
  packages/lib/server-only/document/get-document-by-token.ts
  packages/lib/server-only/subscription/get-active-subscriptions-by-user-id.ts
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/ui/components/signing-card.tsx
Labels: apps: web, version bump 👀

#1298 feat: add and use NEXT_PRIVATE_INTERNAL_WEBAPP_URL
  .env.example
  apps/marketing/process-env.d.ts
  apps/web/process-env.d.ts
  docker/README.md
  docker/production/compose.yml
  packages/lib/constants/app.ts
  packages/lib/jobs/client/local.ts
  packages/lib/server-only/feature-flags/all.ts
  packages/lib/server-only/feature-flags/get.ts
  packages/lib/server-only/webhooks/trigger/trigger-webhook.ts
  render.yaml
  turbo.json
Labels: apps: web, 🚨 .env changes 🚨, apps: marketing

#1329 chore: embedding blog post
  apps/marketing/content/blog/introducing-embedding.mdx
  apps/marketing/public/blog/introducing-embedding/embedding-demo.mp4
Labels: apps: marketing

#1321 fix: refactor dates
  apps/marketing/src/app/layout.tsx
  apps/marketing/src/middleware.ts
  apps/web/src/app/(dashboard)/admin/documents/[id]/page.tsx
  apps/web/src/app/(dashboard)/admin/documents/document-results.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-information.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-data-table.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  apps/web/src/app/(dashboard)/settings/security/activity/user-security-activity-data-table.tsx
  apps/web/src/app/(dashboard)/settings/tokens/page.tsx
  apps/web/src/app/(dashboard)/settings/webhooks/page.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/audit-log/data-table.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/audit-log/page.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/certificate/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/tokens/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/webhooks/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/(teams)/tables/current-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/pending-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/team-member-invites-data-table.tsx
  apps/web/src/components/(teams)/tables/team-members-data-table.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  apps/web/src/components/formatter/locale-date.tsx
  apps/web/src/components/templates/manage-public-template-dialog.tsx
  apps/web/src/middleware.ts
  packages/lib/client-only/providers/i18n.client.tsx
  packages/lib/client-only/providers/i18n.server.tsx
  packages/lib/client-only/providers/locale.tsx
  packages/lib/constants/app.ts
  packages/lib/constants/i18n.ts
  packages/lib/server-only/headers/get-locale.tsx
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/lib/utils/i18n.ts
Labels: apps: web, apps: marketing

#1334 fix: select field ux
  apps/web/src/app/(signing)/sign/[token]/dropdown-field.tsx
Labels: apps: web

#1337 feat: add language switcher
  apps/marketing/src/components/(marketing)/footer.tsx
  apps/marketing/src/components/(marketing)/i18n-switcher.tsx
  apps/marketing/src/middleware.ts
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
  apps/web/src/middleware.ts
  packages/lib/constants/app.ts
  packages/lib/server-only/i18n/switch-i18n-language.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.po
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/marketing.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/lib/utils/i18n.ts
  packages/ui/components/common/language-switcher-dialog.tsx
Labels: apps: web, apps: marketing

#1348 fix: fix `passkeys` page-breaking error
  apps/web/src/app/(dashboard)/settings/security/passkeys/user-passkeys-data-table.tsx
Labels: apps: web

#1262 feat: document visibility
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  apps/web/src/providers/team.tsx
  packages/app-tests/e2e/teams/team-documents.spec.ts
  packages/lib/constants/document-visibility.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-document-by-id.ts
  packages/lib/server-only/document/get-stats.ts
  packages/lib/server-only/document/update-document-settings.ts
  packages/lib/server-only/team/get-team.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.js
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/marketing.js
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/lib/types/document-audit-logs.ts
  packages/lib/types/document-visibility.ts
  packages/lib/utils/document-audit-logs.ts
  packages/prisma/migrations/20240730094430_add_document_visibility_scope_per_role/migration.sql
  packages/prisma/migrations/20240826094312_add_document_visibility_enum/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed/teams.ts
  packages/trpc/server/document-router/schema.ts
  packages/ui/components/document/document-visibility-select.tsx
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-settings.types.ts
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1344 feat: support smaller field bounds
  apps/web/src/app/(signing)/sign/[token]/checkbox-field.tsx
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/radio-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/advanced-fields/checkbox.tsx
  packages/ui/primitives/document-flow/advanced-fields/radio.tsx
  packages/ui/primitives/document-flow/field-icon.tsx
  packages/ui/primitives/document-flow/field-item.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: apps: web

#1349 fix: completed signing page layout
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
Labels: apps: web

#1346 feat: allow editing pending documents
  apps/marketing/package.json
  apps/web/package.json
  package-lock.json
  packages/ee/server-only/limits/provider/client.tsx
  packages/email/templates/recipient-removed-from-document.tsx
  packages/lib/package.json
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.js
  packages/lib/translations/de/web.js
  packages/lib/translations/en/common.po
  packages/lib/translations/en/marketing.js
  packages/lib/translations/en/web.js
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/marketing.js
  packages/lib/translations/fr/web.js
  packages/lib/utils/recipients.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/field-item.tsx
Labels: apps: web, version bump 👀, apps: marketing, pkg: ee changes

#1366 chore: prisma customer story on blog
  apps/marketing/content/blog/customer-story-prisma-4-reasons-prisma-choose-documenso-for-signing.mdx
  apps/marketing/public/blog/dsux.png
  apps/marketing/public/blog/prisma.png
Labels: apps: marketing
