Repository documenso/documenso, pull requests merged in 2024-10, with the labels that each got.

#1350 chore: field fonts
  apps/web/src/components/document/document-read-only-fields.tsx
  packages/ui/primitives/document-flow/show-field-item.tsx
Labels: apps: web

#1364 fix: carousel slide change handling and video reset
  apps/marketing/src/components/(marketing)/carousel.tsx
  packages/lib/translations/de/marketing.po
  packages/lib/translations/en/marketing.po
  packages/lib/translations/fr/marketing.po
Labels: apps: marketing

#1375 chore: Go Fork Yourself blog article
  apps/marketing/content/blog/go-fork-yourself.mdx
  apps/marketing/public/blog/owncode.jpeg
Labels: apps: marketing

#1380 chore: open page data update
  apps/marketing/src/app/(marketing)/open/data.ts
  packages/lib/translations/de/marketing.po
  packages/lib/translations/en/marketing.po
  packages/lib/translations/fr/marketing.po
Labels: apps: marketing

#1382 fix: show the full count of documents
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
Labels: apps: web

#1384 feat: search documents by name or recipient name or recipient email
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
  apps/web/src/components/(dashboard)/document-search/document-search.tsx
  packages/app-tests/e2e/teams/search-documents.spec.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-stats.ts
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/fr/web.po
  packages/prisma/seed/teams.ts
  packages/prisma/seed/users.ts
Labels: apps: web, 🚨 e2e changes 🚨

#1361 fix: stacked avatar colors
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars.tsx
  packages/lib/client-only/recipient-type.ts
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/fr/web.po
Labels: apps: web

#1388 fix: improve lingui configuration
  .github/workflows/translations-extract.yml
  .github/workflows/translations-upload.yml
  .husky/pre-commit
  apps/marketing/package.json
  apps/web/package.json
  docker/Dockerfile
  packages/lib/client-only/providers/i18n.server.tsx
  packages/lib/translations/.gitignore
  packages/lib/translations/de/marketing.js
  packages/lib/translations/de/web.js
  packages/lib/translations/en/marketing.js
  packages/lib/translations/en/web.js
  packages/lib/translations/fr/marketing.js
  packages/lib/translations/fr/web.js
  packages/lib/translations/ro/marketing.js
  packages/lib/translations/ro/web.js
  packages/lib/utils/i18n.ts
  turbo.json
Labels: apps: web, version bump 👀, apps: marketing

#1376 feat: add custom font sizes to fields
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  packages/lib/advanced-fields-validation/validate-checkbox.ts
  packages/lib/advanced-fields-validation/validate-dropdown.ts
  packages/lib/advanced-fields-validation/validate-fields.ts
  packages/lib/advanced-fields-validation/validate-number.ts
  packages/lib/advanced-fields-validation/validate-radio.ts
  packages/lib/advanced-fields-validation/validate-text.ts
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/server-only/pdf/insert-text-in-pdf.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.js
  packages/lib/translations/de/web.js
  packages/lib/translations/en/common.po
  packages/lib/translations/en/marketing.js
  packages/lib/translations/en/web.js
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/marketing.js
  packages/lib/translations/fr/web.js
  packages/lib/types/field-meta.ts
  packages/ui/primitives/document-flow/field-item-advanced-settings.tsx
  packages/ui/primitives/document-flow/field-item.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/checkbox-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/date-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/dropdown-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/email-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/initials-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/name-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/number-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/radio-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/text-field.tsx
Labels: apps: web

#1357 feat: add typed signature
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.js
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/marketing.js
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/marketing.js
  packages/lib/translations/fr/web.js
  packages/lib/translations/fr/web.po
  packages/prisma/migrations/20240920084713_add_typed_signature_option/migration.sql
  packages/prisma/migrations/20241017035042_rename_typed_signature_option/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-fields.types.ts
  packages/ui/primitives/signature-pad/signature-pad.tsx
Labels: apps: web, 🚨 migrations 🚨

#1412 fix: close direct link dialog when you click on save
  apps/web/src/app/(dashboard)/templates/template-direct-link-dialog.tsx
  packages/app-tests/e2e/templates/direct-templates.spec.ts
Labels: apps: web, 🚨 e2e changes 🚨

#1416 feat: add team user management endpoints to api
  packages/api/v1/contract.ts
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/app-tests/e2e/api/v1/team-user-management.spec.ts
  packages/app-tests/package.json
  packages/lib/server-only/public-api/create-api-token.ts
  packages/lib/server-only/public-api/delete-api-token-by-id.ts
  packages/lib/server-only/public-api/get-all-user-tokens.ts
  packages/lib/server-only/public-api/get-api-token-by-token.ts
  packages/prisma/seed/teams.ts
Labels: version bump 👀, 🚨 e2e changes 🚨

#1410 chore: show signing order when creating a document from template
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  packages/lib/server-only/template/find-templates.ts
Labels: apps: web

#1394 fix: translate extract command
  apps/marketing/package.json
  apps/web/package.json
  turbo.json
Labels: apps: web, version bump 👀, apps: marketing

#1427 feat: improve translation coverage
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/move-document-dialog.tsx
  apps/web/src/app/(recipient)/d/[token]/configure-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/initials-field.tsx
  apps/web/src/app/(unauthenticated)/articles/signature-disclosure/page.tsx
  apps/web/src/components/(dashboard)/document-search/document-search.tsx
  apps/web/src/components/(dashboard)/settings/token/contants.ts
  apps/web/src/components/(dashboard)/settings/token/delete-token-dialog.tsx
  apps/web/src/components/(dashboard)/settings/webhooks/delete-webhook-dialog.tsx
  apps/web/src/components/(teams)/dialogs/delete-team-dialog.tsx
  apps/web/src/components/(teams)/dialogs/transfer-team-dialog.tsx
  apps/web/src/components/(teams)/tables/current-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/team-members-data-table.tsx
  apps/web/src/components/document/document-read-only-fields.tsx
  apps/web/src/components/forms/token.tsx
  apps/web/src/components/general/signing-disclosure.tsx
  packages/lib/client-only/providers/i18n.server.tsx
  packages/lib/constants/recipient-roles.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/web.po
  packages/lib/utils/i18n.ts
  packages/ui/components/document/document-share-button.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signature.types.ts
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-signers.types.ts
  packages/ui/primitives/document-flow/show-field-item.tsx
  packages/ui/primitives/document-flow/types.ts
  packages/ui/primitives/form/form-error-message.tsx
  packages/ui/primitives/form/form.tsx
  packages/ui/primitives/lazy-pdf-viewer.tsx
  packages/ui/primitives/pdf-viewer.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: apps: web
