Repository documenso/documenso, pull requests merged in 2024-08, with the labels that each got.

#1257 chore: Update .env.example commenting
  .env.example
  apps/documentation/pages/developers/self-hosting/_meta.json
  apps/documentation/pages/developers/self-hosting/setting-up-oauth-providers.mdx
Labels: 🚨 .env changes 🚨

#1221 fix: show signup option only to users without existing accounts
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: web

#1268 fix: download audit log certificate
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-audit-log-button.tsx
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: apps: web

#1279 feat: add initials field type
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/components/document/document-read-only-fields.tsx
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/lib/types/document-audit-logs.ts
  packages/prisma/generated/types.ts
  packages/prisma/migrations/20240812065352_add_initials_field_type/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/field-icon.tsx
  packages/ui/primitives/document-flow/types.ts
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: apps: web, 🚨 migrations 🚨

#1287 fix: move sealing to a background job
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/poll-until-document-completed.tsx
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/lib/jobs/client.ts
  packages/lib/jobs/definitions/internal/seal-document.ts
  packages/lib/server-only/document/complete-document-with-token.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/htmltopdf/get-certificate-pdf.ts
Labels: apps: web, 🚨 e2e changes 🚨

#1276 feat: advanced fields article
  apps/marketing/content/blog/introducing-advanced-signing-fields.mdx
  apps/marketing/public/blog/advanced-fields/checkbox-field-advanced-settings.webp
  apps/marketing/public/blog/advanced-fields/checkbox-sign-page.webp
  apps/marketing/public/blog/advanced-fields/documenso-advanced-fields-signing.webp
  apps/marketing/public/blog/advanced-fields/documenso-field-advanced-settings.webp
  apps/marketing/public/blog/advanced-fields/field-active-state.webp
  apps/marketing/public/blog/advanced-fields/first-text-field-input.webp
  apps/marketing/public/blog/advanced-fields/number-field-advanced-settings.webp
  apps/marketing/public/blog/advanced-fields/old-text-field.jpeg
  apps/marketing/public/blog/advanced-fields/radio-and-checkbox-fields.webp
  apps/marketing/public/blog/advanced-fields/radio-field-advanced-settings.webp
  apps/marketing/public/blog/advanced-fields/radio-field-sign-page.webp
  apps/marketing/public/blog/advanced-fields/recipient-colour-example.webp
  apps/marketing/public/blog/advanced-fields/recipient-colours.webp
  apps/marketing/public/blog/advanced-fields/second-text-field-input.webp
  apps/marketing/public/blog/advanced-fields/select-field-advanced-settings.webp
  apps/marketing/public/blog/advanced-fields/select-field-sign-page.webp
  apps/marketing/public/blog/advanced-fields/text-field-advanced-settings.webp
  apps/marketing/public/blog/advanced-fields/text-field-signing.webp
  apps/marketing/public/blog/advanced-fields/third-text-field-input.webp
  apps/marketing/public/blog/advanced-fields/unsigned-text-fields.webp
  apps/marketing/src/app/(marketing)/blog/page.tsx
Labels: apps: marketing

#1193 feat: copy and paste fields
  .vscode/settings.json
  apps/marketing/content/blog/announcing-vial-21-cfr-part-11.mdx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/radio-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/ui/components/field/field.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/advanced-fields/checkbox.tsx
  packages/ui/primitives/document-flow/advanced-fields/radio.tsx
  packages/ui/primitives/document-flow/field-item.tsx
  packages/ui/primitives/document-flow/single-player-mode-fields.tsx
Labels: apps: web, version bump 👀, apps: marketing

#1225 feat: automatically set public profile url for OIDC users
  apps/web/src/pages/api/auth/[...nextauth].ts
  packages/lib/utils/slugify.ts
Labels: apps: web, 🚨 .env changes 🚨

#1229 feat: update the email templates to reflect team-specific information.
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
  packages/email/template-components/template-document-invite.tsx
  packages/email/templates/confirm-team-email.tsx
  packages/email/templates/document-invite.tsx
  packages/lib/jobs/definitions/emails/send-signing-email.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/prisma/seed/initial-seed.ts
Labels: apps: web

#1135 fix: dialog close on refresh
  apps/web/src/app/(dashboard)/admin/documents/[id]/recipient-item.tsx
  apps/web/src/app/(dashboard)/admin/documents/document-results.tsx
  apps/web/src/app/(dashboard)/admin/users/data-table-users.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-data-table.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(dashboard)/settings/security/activity/user-security-activity-data-table.tsx
  apps/web/src/app/(dashboard)/settings/security/passkeys/user-passkeys-data-table.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/components/(teams)/tables/current-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/pending-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/team-billing-invoices-data-table.tsx
  apps/web/src/components/(teams)/tables/team-member-invites-data-table.tsx
  apps/web/src/components/(teams)/tables/team-members-data-table.tsx
  packages/app-tests/e2e/teams/team-members.spec.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/ui/primitives/data-table.tsx
Labels: apps: web, 🚨 e2e changes 🚨

#1309 fix: make invite and confirmations long lived
  apps/web/src/app/(unauthenticated)/team/verify/email/[token]/page.tsx
  apps/web/src/app/(unauthenticated)/team/verify/transfer/[token]/page.tsx
  apps/web/src/app/(unauthenticated)/verify-email/[token]/client.tsx
  apps/web/src/app/(unauthenticated)/verify-email/[token]/page.tsx
  packages/app-tests/e2e/user/auth-flow.spec.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/server-only/team/accept-team-invitation.ts
  packages/lib/server-only/team/transfer-team-ownership.ts
  packages/lib/server-only/user/verify-email.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/marketing.js
  packages/lib/translations/de/marketing.po
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/prisma/migrations/20240828014236_add_completed_flag_for_verification_tokens/migration.sql
  packages/prisma/schema.prisma
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1312 fix: broken pages by translation tags
  apps/web/src/app/(dashboard)/settings/tokens/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/tokens/page.tsx
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
Labels: apps: web

#1314 feat: disable 2fa with backup codes
  apps/web/src/components/forms/2fa/disable-authenticator-app-dialog.tsx
  packages/lib/server-only/2fa/disable-2fa.ts
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/trpc/server/two-factor-authentication-router/router.ts
  packages/trpc/server/two-factor-authentication-router/schema.ts
Labels: apps: web
