Repository documenso/documenso, pull requests merged in 2024-02, with the labels that each got.

#881 fix: show fields on every step while editing documents
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/document-flow/add-title.tsx
  packages/ui/primitives/document-flow/show-field-item.tsx
Labels: enhancement, assigned, apps: web

#892 fix: Added signing pad disable state while submitting form
  apps/marketing/src/components/(marketing)/widget.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/components/forms/profile.tsx
  apps/web/src/components/forms/signup.tsx
  packages/ui/primitives/signature-pad/signature-pad.tsx
Labels: apps: web, apps: marketing

#897 fix: active-tab correctly changes to the currently active documents s…
  apps/web/src/app/(dashboard)/documents/page.tsx
Labels: apps: web

#884 feat: add user security audit logs
  apps/web/package.json
  apps/web/src/app/(dashboard)/settings/security/activity/page.tsx
  apps/web/src/app/(dashboard)/settings/security/activity/user-security-activity-data-table.tsx
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  apps/web/src/components/forms/2fa/authenticator-app.tsx
  apps/web/src/components/forms/2fa/disable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/recovery-codes.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
  apps/web/src/components/forms/password.tsx
  apps/web/src/components/forms/signin.tsx
  apps/web/src/pages/api/auth/[...nextauth].ts
  package-lock.json
  packages/lib/constants/auth.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/server-only/2fa/disable-2fa.ts
  packages/lib/server-only/2fa/enable-2fa.ts
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/user/find-user-security-audit-logs.ts
  packages/lib/server-only/user/reset-password.ts
  packages/lib/server-only/user/update-password.ts
  packages/lib/server-only/user/update-profile.ts
  packages/lib/types/search-params.ts
  packages/lib/universal/extract-request-metadata.ts
  packages/prisma/migrations/20240131004516_add_user_security_audit_logs/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/context.ts
  packages/trpc/server/profile-router/router.ts
  packages/trpc/server/profile-router/schema.ts
  packages/trpc/server/two-factor-authentication-router/router.ts
  packages/ui/primitives/alert.tsx
  packages/ui/primitives/data-table.tsx
Labels: apps: web, version bump 👀, 🚨 migrations 🚨

#716 feat: add recipient roles
  apps/marketing/content/blog/linear-gh.mdx
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-button.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  apps/web/src/components/(dashboard)/avatar/avatar-with-recipient.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  packages/email/template-components/template-document-invite.tsx
  packages/email/templates/document-invite.tsx
  packages/lib/client-only/recipient-type.ts
  packages/lib/constants/recipient-roles.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/prisma/migrations/20231202220928_add_recipient_roles/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-signers.types.ts
  packages/ui/primitives/document-flow/add-subject.tsx
Labels: osshack, apps: web, 🚨 migrations 🚨, apps: marketing

#898 fix: Prevent users from bypassing document limitations via templates
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  packages/trpc/server/template-router/router.ts
Labels: apps: web

#867 perf: mentioned type and size of the doc to be uploaded
  .env.example
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  packages/lib/constants/app.ts
  packages/ui/primitives/document-dropzone.tsx
  turbo.json
Labels: apps: web, 🚨 .env changes 🚨

#889 feat: migration for verifying paid users
  packages/prisma/migrations/20240131132916_verify_paid_users/migration.sql
Labels: 🚨 migrations 🚨

#906 fix: add responsive for blog preview mobile view
  apps/marketing/src/app/(marketing)/layout.tsx
Labels: apps: marketing

#915 feat: add team feature flag
  apps/web/src/components/(dashboard)/layout/header.tsx
  apps/web/src/components/(dashboard)/layout/mobile-navigation.tsx
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
  apps/web/src/components/(dashboard)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/settings/layout/mobile-nav.tsx
  apps/web/src/components/(teams)/dialogs/create-team-checkout-dialog.tsx
  apps/web/src/components/forms/2fa/authenticator-app.tsx
  packages/lib/constants/feature-flags.ts
  packages/ui/primitives/sheet.tsx
Labels: apps: web

#914 feat: blog article why i started documenso
  apps/marketing/content/blog/why-i-started-documenso.mdx
  apps/marketing/public/blog/burgers.jpeg
Labels: apps: marketing

#912 feat: add team templates
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/page.tsx
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
  apps/web/src/app/(dashboard)/documents/page.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/[id]/page.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(dashboard)/templates/delete-template-dialog.tsx
  apps/web/src/app/(dashboard)/templates/duplicate-template-dialog.tsx
  apps/web/src/app/(dashboard)/templates/new-template-dialog.tsx
  apps/web/src/app/(dashboard)/templates/page.tsx
  apps/web/src/app/(dashboard)/templates/templates-page-view.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/documents/[id]/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/documents/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/templates/[id]/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/templates/page.tsx
  apps/web/src/components/(dashboard)/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
  apps/web/src/components/(dashboard)/layout/mobile-navigation.tsx
  packages/app-tests/e2e/templates/manage-templates.spec.ts
  packages/lib/constants/teams.ts
  packages/lib/server-only/field/get-fields-for-template.ts
  packages/lib/server-only/field/set-fields-for-template.ts
  packages/lib/server-only/recipient/get-recipients-for-template.ts
  packages/lib/server-only/recipient/set-recipients-for-template.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/create-template.ts
  packages/lib/server-only/template/delete-template.ts
  packages/lib/server-only/template/duplicate-template.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/lib/server-only/template/get-templates.ts
  packages/lib/utils/teams.ts
  packages/prisma/migrations/20240206051948_add_teams_templates/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed/templates.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#918 fix: recipients with CC role not being editable
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
Labels: apps: web

#922 feat: initial document audit logs implementation
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  packages/lib/constants/recipient-roles.ts
  packages/lib/server-only/document-data/create-document-data.ts
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/complete-document-with-token.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/document/send-completed-email.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/document/update-title.ts
  packages/lib/server-only/document/viewed-document.ts
  packages/lib/server-only/field/remove-signed-field-with-token.ts
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/lib/types/document-audit-logs.ts
  packages/lib/universal/extract-request-metadata.ts
  packages/lib/utils/document-audit-logs.ts
  packages/prisma/migrations/20240209023519_add_document_audit_logs/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/singleplayer-router/router.ts
Labels: apps: web, 🚨 migrations 🚨, apps: marketing

#835 feat: restrict app access for unverified users
  apps/web/src/app/(unauthenticated)/unverified-account/page.tsx
  apps/web/src/components/forms/send-confirmation-email.tsx
  apps/web/src/components/forms/signin.tsx
  apps/web/src/components/forms/signup.tsx
  packages/lib/next-auth/auth-options.ts
  packages/lib/next-auth/error-codes.ts
  packages/lib/server-only/user/get-most-recent-verification-token-by-user-id.ts
  packages/lib/server-only/user/send-confirmation-token.ts
  packages/trpc/server/profile-router/router.ts
Labels: apps: web

#878 chore: create security.txt
  .husky/pre-commit
  .well-known/security.txt
  apps/marketing/public/.well-known/security.txt
  apps/marketing/public/pdf.worker.min.js
  apps/web/public/.well-known/security.txt
  lint-staged.config.cjs
  scripts/copy-pdfjs.cjs
  scripts/copy-wellknown.cjs
Labels: apps: marketing

#934 chore: minor lint fixes
  apps/marketing/src/app/(marketing)/open/page.tsx
  apps/marketing/src/app/(marketing)/pricing/page.tsx
  apps/marketing/src/components/(marketing)/pricing-table.tsx
  apps/web/src/app/(dashboard)/documents/_action-items/resend-document.tsx
  packages/lib/server-only/2fa/setup-2fa.ts
Labels: apps: web, apps: marketing

#857 fix: improved document-dropzone ui for small vertical screens
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
Labels: apps: web

#939 feat: add enterprise billing
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  apps/web/src/components/(teams)/tables/teams-member-page-data-table.tsx
  packages/ee/server-only/limits/server.ts
  packages/ee/server-only/stripe/get-document-related-prices.ts.ts
  packages/ee/server-only/stripe/get-enterprise-plan-prices.ts
  packages/ee/server-only/stripe/get-prices-by-plan.ts
  packages/ee/server-only/stripe/get-primary-account-plan-prices.ts
  packages/ee/server-only/stripe/get-team-related-prices.ts
  packages/ee/server-only/stripe/transfer-team-subscription.ts
  packages/lib/constants/app.ts
  packages/lib/constants/billing.ts
  packages/lib/server-only/team/create-team.ts
  packages/lib/utils/billing.ts
Labels: apps: web, pkg: ee changes

#944 feat: ability to download all the 2FA recovery codes
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
  packages/lib/client-only/download-file.ts
  packages/lib/client-only/download-pdf.ts
Labels: apps: web

#947 fix: put max height in teams section in profile dropdown
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
Labels: apps: web

#958 fix: hardcode signup until env issue is fixed
  apps/marketing/src/components/(marketing)/pricing-table.tsx
Labels: apps: marketing

#956 feat: custom banner
  apps/web/package.json
  apps/web/src/app/(dashboard)/admin/nav.tsx
  apps/web/src/app/(dashboard)/admin/site-settings/banner-form.tsx
  apps/web/src/app/(dashboard)/admin/site-settings/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/(dashboard)/layout/banner.tsx
  package-lock.json
  packages/lib/server-only/admin/update-user.ts
  packages/lib/server-only/site-settings/get-site-settings.ts
  packages/lib/server-only/site-settings/schema.ts
  packages/lib/server-only/site-settings/schemas/_base.ts
  packages/lib/server-only/site-settings/schemas/banner.ts
  packages/lib/server-only/site-settings/upsert-site-setting.ts
  packages/prisma/migrations/20240222183156_display_banner/migration.sql
  packages/prisma/migrations/20240222183231_banner_show/migration.sql
  packages/prisma/migrations/20240222185936_remove_custom/migration.sql
  packages/prisma/migrations/20240222230527_change_banner_to_site_settings_model/migration.sql
  packages/prisma/migrations/20240222230604_add_site_banner_to_site_settings/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/admin-router/router.ts
  packages/trpc/server/admin-router/schema.ts
  packages/ui/package.json
  packages/ui/primitives/color-picker.tsx
Labels: apps: web, version bump 👀, 🚨 migrations 🚨

#945 feat: custom text field
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/trpc/server/singleplayer-router/helper.ts
  packages/trpc/server/singleplayer-router/schema.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/document-flow/add-signature.types.ts
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/document-flow/single-player-mode-fields.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
Labels: apps: web, apps: marketing

#953 feat: edit recipients when creating document from template
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  packages/app-tests/e2e/templates/manage-templates.spec.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/find-templates.ts
  packages/prisma/seed/templates.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web, 🚨 e2e changes 🚨

#952 chore: pricing update
  apps/marketing/content/blog/early-adopters.mdx
  apps/marketing/src/components/(marketing)/pricing-table.tsx
Labels: apps: marketing

#960 chore: blog day 1
  apps/marketing/content/blog/launch-week-2-day-1.mdx
Labels: apps: marketing

#962 chore: typo
  apps/marketing/content/blog/launch-week-2-day-1.mdx
Labels: apps: marketing

#964 Chore/blog
  apps/marketing/content/blog/launch-week-2-day-2.mdx
  apps/marketing/public/blog/quickfill.png
  apps/marketing/public/blog/template.png
Labels: apps: marketing

#913 feat: implement webhooks
  apps/web/src/app/(dashboard)/settings/webhooks/[id]/page.tsx
  apps/web/src/app/(dashboard)/settings/webhooks/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/webhooks/[id]/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/webhooks/page.tsx
  apps/web/src/components/(dashboard)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/settings/layout/mobile-nav.tsx
  apps/web/src/components/(dashboard)/settings/webhooks/create-webhook-dialog.tsx
  apps/web/src/components/(dashboard)/settings/webhooks/delete-webhook-dialog.tsx
  apps/web/src/components/(dashboard)/settings/webhooks/trigger-multiselect-combobox.tsx
  apps/web/src/components/(teams)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(teams)/settings/layout/mobile-nav.tsx
  apps/web/src/components/forms/webhook.tsx
  apps/web/src/pages/api/v1/me/index.ts
  apps/web/src/pages/api/v1/zapier/list-documents/index.ts
  apps/web/src/pages/api/v1/zapier/subscribe/index.ts
  apps/web/src/pages/api/v1/zapier/unsubscribe/index.ts
  apps/web/src/pages/api/webhook/trigger.ts
  apps/web/src/providers/team.tsx
  packages/lib/server-only/crypto/sign.ts
  packages/lib/server-only/crypto/verify.ts
  packages/lib/server-only/document/complete-document-with-token.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/document/viewed-document.ts
  packages/lib/server-only/public-api/get-user-by-token.ts
  packages/lib/server-only/public-api/test-credentials.ts
  packages/lib/server-only/webhooks/create-webhook.ts
  packages/lib/server-only/webhooks/delete-webhook-by-id.ts
  packages/lib/server-only/webhooks/edit-webhook.ts
  packages/lib/server-only/webhooks/get-all-webhooks-by-event-trigger.ts
  packages/lib/server-only/webhooks/get-webhook-by-id.ts
  packages/lib/server-only/webhooks/get-webhooks-by-team-id.ts
  packages/lib/server-only/webhooks/get-webhooks-by-user-id.ts
  packages/lib/server-only/webhooks/trigger/execute-webhook.ts
  packages/lib/server-only/webhooks/trigger/handler.ts
  packages/lib/server-only/webhooks/trigger/schema.ts
  packages/lib/server-only/webhooks/trigger/trigger-webhook.ts
  packages/lib/server-only/webhooks/zapier/list-documents.ts
  packages/lib/server-only/webhooks/zapier/subscribe.ts
  packages/lib/server-only/webhooks/zapier/unsubscribe.ts
  packages/lib/server-only/webhooks/zapier/validateApiToken.ts
  packages/lib/universal/webhook/to-friendly-webhook-event-name.ts
  packages/prisma/migrations/20240206131417_add_user_webhooks/migration.sql
  packages/prisma/migrations/20240224085633_extend_webhook_trigger_events/migration.sql
  packages/prisma/migrations/20240227003622_migrate_to_cuids_for_webhooks/migration.sql
  packages/prisma/migrations/20240227015420_add_webhook_call_table/migration.sql
  packages/prisma/migrations/20240227023747_add_team_webhooks/migration.sql
  packages/prisma/migrations/20240227031228_add_event_to_webhook_call_model/migration.sql
  packages/prisma/schema.prisma
  packages/tailwind-config/index.cjs
  packages/trpc/server/router.ts
  packages/trpc/server/webhook-router/router.ts
  packages/trpc/server/webhook-router/schema.ts
  packages/ui/primitives/badge.tsx
Labels: coderabbit, apps: web, 🚨 migrations 🚨

#967 Chore/blog
  apps/marketing/content/blog/launch-week-2-day-2.mdx
  apps/marketing/content/blog/launch-week-2-day-3.mdx
Labels: apps: marketing

#969 chore: cta
  apps/marketing/content/blog/launch-week-2-day-3.mdx
Labels: apps: marketing

#970 chore: typo
  apps/marketing/content/blog/launch-week-2-day-3.mdx
Labels: apps: marketing

#971 fix: return the recipient as an array to match other formats from zapier
  apps/marketing/src/app/(marketing)/singleplayer/[token]/success/page.tsx
  apps/marketing/src/components/(marketing)/single-player-mode/single-player-mode-success.tsx
  packages/lib/server-only/document/get-document-by-token.ts
  packages/prisma/types/document-with-recipient.ts
Labels: apps: marketing

#977 chore: typos and links
  apps/marketing/content/blog/launch-week-2-day-4.mdx
Labels: apps: marketing

#978 chore: ctas
  apps/marketing/content/blog/launch-week-2-day-4.mdx
  apps/marketing/public/blog/hooks.png
Labels: apps: marketing
