Repository documenso/documenso, pull requests merged in 2024-04, with the labels that each got.

#1074 chore: remove coming soon
  apps/marketing/src/components/(marketing)/share-connect-paid-widget-bento.tsx
Labels: apps: marketing

#1072 fix: enforce 2FA for email password SSO linked accounts
  packages/app-tests/e2e/pr-718-add-stepper-component.spec.ts
  packages/app-tests/e2e/test-auth-flow.spec.ts
  packages/lib/server-only/2fa/is-2fa-availble.ts
Labels: 🚨 e2e changes 🚨

#1071 feat: add axiom web vitals
  apps/marketing/next.config.js
  apps/marketing/package.json
  apps/marketing/src/app/layout.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/layout.tsx
  package-lock.json
Labels: apps: web, version bump 👀, apps: marketing

#1066 fix: refactor tests
  packages/app-tests/e2e/command-menu/document-search.spec.ts
  packages/app-tests/e2e/document-auth/access-auth.spec.ts
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/app-tests/e2e/documents/delete-documents.spec.ts
  packages/app-tests/e2e/fixtures/authentication.ts
  packages/app-tests/e2e/pr-711-deletion-of-documents.spec.ts
  packages/app-tests/e2e/pr-713-add-document-search-to-command-menu.spec.ts
  packages/app-tests/e2e/teams/manage-team.spec.ts
  packages/app-tests/e2e/templates/manage-templates.spec.ts
  packages/app-tests/e2e/user/auth-flow.spec.ts
  packages/app-tests/e2e/user/delete-account.spec.ts
  packages/app-tests/e2e/user/update-name.spec.ts
  packages/app-tests/playwright.config.ts
  packages/prisma/seed/documents.ts
  packages/prisma/seed/pr-711-deletion-of-documents.ts
  packages/prisma/seed/pr-713-add-document-search-to-command-menu.ts
  packages/prisma/seed/teams.ts
  packages/prisma/seed/users.ts
Labels: 🚨 e2e changes 🚨

#1075 chore: remove duplicate env vars
  .env.example
Labels: 🚨 .env changes 🚨

#930 feat: Ability to send team invitation in bulk
  apps/web/package.json
  apps/web/src/components/(teams)/dialogs/invite-team-member-dialog.tsx
  package-lock.json
Labels: apps: web, version bump 👀

#1068 chore: add status widget
  apps/marketing/package.json
  apps/marketing/src/components/(marketing)/footer.tsx
  apps/marketing/src/components/(marketing)/status-widget-container.tsx
  apps/marketing/src/components/(marketing)/status-widget.tsx
  package-lock.json
Labels: version bump 👀, apps: marketing

#1086 feat: add prefilling pdf form fields via api
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/pdf/insert-form-values-in-pdf.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/prisma/migrations/20240408083413_add_form_values_column/migration.sql
  packages/prisma/schema.prisma
Labels: 🚨 migrations 🚨

#1082 fix: improve document loading ui consistency
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/loading.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
Labels: apps: web

#1083 feat: building documenso part 2
  apps/marketing/content/blog/building-documenso-pt1.mdx
  apps/marketing/content/blog/building-documenso-pt2.mdx
  apps/marketing/public/blog/eu-validate-1.png
  apps/marketing/public/blog/eu-validate-2.png
Labels: apps: marketing

#1095 feat: update marketing banner
  apps/marketing/src/app/(marketing)/layout.tsx
Labels: apps: marketing

#1096 fix: marketing header darkmode
  apps/marketing/src/app/(marketing)/layout.tsx
Labels: apps: marketing

#1092 feat: add certificate and audit log pdfs
  apps/marketing/next.config.js
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-audit-log-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-certificate-button.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/audit-log/data-table.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/audit-log/page.tsx
  apps/web/src/app/(internal)/%5F%5Fhtmltopdf/certificate/page.tsx
  package-lock.json
  package.json
  packages/lib/constants/recipient-roles.ts
  packages/lib/package.json
  packages/lib/server-only/admin/get-entire-document.ts
  packages/lib/server-only/document/get-document-certificate-audit-logs.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/htmltopdf/get-certificate-pdf.ts
  packages/tailwind-config/index.cjs
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/tsconfig/process-env.d.ts
  packages/ui/primitives/table.tsx
  packages/ui/styles/theme.css
  turbo.json
Labels: apps: web, version bump 👀, apps: marketing

#1098 fix: remove status widget for now
  apps/marketing/src/components/(marketing)/footer.tsx
Labels: apps: marketing

#1099 feat: add document log page link
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
Labels: apps: web

#1102 chore: audit log menu item label
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
Labels: apps: web

#1037 fix: swagger documentation authentication
  packages/api/v1/openapi.ts
Labels: coderabbit

#1051 fix: mask recipient token
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  packages/lib/server-only/document/search-documents-with-keyword.ts
  packages/trpc/server/document-router/router.ts
Labels: apps: web

#1058 fix: duplicate modal instances from hotkey activation
  apps/web/src/components/(dashboard)/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/layout/header.tsx
Labels: apps: web

#1107 chore: fix text padding
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: web

#1104 fix: duplicate templates
  apps/web/src/app/(dashboard)/templates/new-template-dialog.tsx
Labels: apps: web

#1111 fix: prevent signing draft documents
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/components/(dashboard)/avatar/avatar-with-recipient.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  packages/lib/server-only/document/complete-document-with-token.ts
  packages/lib/server-only/field/remove-signed-field-with-token.ts
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/prisma/seed/documents.ts
Labels: apps: web

#1100 fix: update document deletion logic
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
  apps/web/src/app/(dashboard)/documents/empty-state.tsx
  packages/app-tests/e2e/document-flow/signers-step.spec.ts
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/app-tests/e2e/documents/delete-documents.spec.ts
  packages/app-tests/e2e/fixtures/documents.ts
  packages/app-tests/e2e/teams/team-documents.spec.ts
  packages/email/template-components/template-document-cancel.tsx
  packages/lib/server-only/document/delete-document.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-stats.ts
  packages/prisma/migrations/20240408142543_add_recipient_document_delete/migration.sql
  packages/prisma/schema.prisma
  packages/ui/primitives/document-flow/add-signers.tsx
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨, apps: marketing

#1114 fix: disable cert download
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/download-certificate-button.tsx
  packages/trpc/server/document-router/router.ts
Labels: apps: web

#1109 feat: add visible completed fields
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars-with-tooltip.tsx
  apps/web/src/components/document/document-read-only-fields.tsx
  packages/lib/server-only/field/get-completed-fields-for-document.ts
  packages/lib/server-only/field/get-completed-fields-for-token.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/duplicate-template.ts
  packages/lib/types/fields.ts
  packages/prisma/migrations/20240418140819_remove_impossible_field_optional_states/migration.sql
  packages/prisma/schema.prisma
  packages/ui/components/field/field.tsx
  packages/ui/primitives/popover.tsx
Labels: apps: web, 🚨 migrations 🚨

#1117 fix: use cdp and upgrade playwright again
  package-lock.json
  package.json
  packages/lib/package.json
  packages/lib/server-only/htmltopdf/get-certificate-pdf.ts
Labels: version bump 👀

#1121 fix: increase trpc max duration
  apps/web/src/pages/api/trpc/[trpc].ts
Labels: apps: web

#1113 fix: complete document when all recipients are CC
  packages/lib/server-only/document/send-document.tsx
Labels: apps: web

#1129 chore: updated dark mode text
  apps/web/src/app/(unauthenticated)/articles/signature-disclosure/page.tsx
Labels: apps: web
