Repository documenso/documenso, pull requests merged in 2024-03, with the labels that each got.

#980 Chore/blog
  apps/marketing/content/blog/launch-week-2-day-5.mdx
  apps/marketing/public/blog/profile.png
Labels: apps: marketing

#982 fix: username min length + fixed condition
  apps/web/src/components/forms/v2/signup.tsx
  packages/trpc/server/auth-router/router.ts
Labels: apps: web

#983 chore: update profile claim dialog and modal
  apps/marketing/src/app/(marketing)/layout.tsx
  apps/web/src/app/(dashboard)/settings/profile/claim-profile-alert-dialog.tsx
  apps/web/src/components/forms/v2/signup.tsx
Labels: apps: web, apps: marketing

#987 feat: add offline development support
  apps/web/src/components/(dashboard)/layout/header.tsx
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
  apps/web/src/components/(dashboard)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/settings/layout/mobile-nav.tsx
  packages/lib/constants/feature-flags.ts
  packages/trpc/react/index.tsx
Labels: apps: web, 🚨 .env changes 🚨

#979 feat: add typefully card to open page
  apps/marketing/src/app/(marketing)/open/cap-table.tsx
  apps/marketing/src/app/(marketing)/open/monthly-new-users-chart.tsx
  apps/marketing/src/app/(marketing)/open/monthly-total-users-chart.tsx
  apps/marketing/src/app/(marketing)/open/page.tsx
  apps/marketing/src/app/(marketing)/open/typefully.tsx
Labels: apps: marketing

#993 chore: remove bcrypt
  apps/marketing/next.config.js
  apps/web/next.config.js
  docker/buildx.sh
  package-lock.json
  packages/lib/next-auth/auth-options.ts
  packages/lib/package.json
  packages/lib/server-only/2fa/disable-2fa.ts
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/auth/hash.ts
  packages/lib/server-only/user/create-user.ts
  packages/lib/server-only/user/reset-password.ts
  packages/lib/server-only/user/update-password.ts
Labels: apps: web, version bump 👀, apps: marketing

#994 docs: add article on removing server actions
  apps/marketing/content/blog/removing-server-actions.mdx
Labels: apps: marketing

#1000 fix: add seed script to dx setup
  package.json
  packages/prisma/package.json
Labels: version bump 👀

#1001 chore: add e2e test for deleting a user
  apps/web/src/app/(dashboard)/settings/profile/delete-account-dialog.tsx
  package.json
  packages/app-tests/e2e/test-delete-user.spec.ts
  packages/prisma/package.json
Labels: apps: web, version bump 👀, 🚨 e2e changes 🚨

#997 feat: improved ui of document dropzone for max quota state
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  packages/tailwind-config/index.cjs
  packages/ui/lib/document-dropzone-constants.ts
  packages/ui/primitives/document-dropzone.tsx
  packages/ui/styles/theme.css
Labels: apps: web

#991 fix: overflow issue with user name input
  apps/web/src/components/forms/v2/signup.tsx
  apps/web/src/components/ui/user-profile-skeleton.tsx
  apps/web/src/components/ui/user-profile-timur.tsx
Labels: apps: web

#1003 fix: fix blog post date
  apps/marketing/content/blog/removing-server-actions.mdx
Labels: apps: marketing

#1013 fix: update docker documentation and include cert env vars
  .env.example
  apps/marketing/package.json
  apps/web/package.json
  docker/README.md
  docker/production/compose.yml
  docker/testing/compose.yml
  package-lock.json
Labels: apps: web, version bump 👀, 🚨 .env changes 🚨, apps: marketing

#1014 fix: ensure password input is cleared when 2fa enable dialog is closed
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
Labels: apps: web

#921 fix: table layout shift while changing tabs
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  packages/ui/primitives/data-table.tsx
  packages/ui/styles/theme.css
Labels: apps: web

#1009 feat: require confirmation for user account deletion
  apps/web/src/app/(dashboard)/settings/profile/delete-account-dialog.tsx
  packages/app-tests/e2e/test-delete-user.spec.ts
Labels: apps: web, 🚨 e2e changes 🚨

#1007 feat: add website cta
  apps/marketing/contentlayer.config.ts
  apps/marketing/src/app/(marketing)/blog/[post]/page.tsx
  apps/marketing/src/app/(marketing)/open/page.tsx
  apps/marketing/src/components/(marketing)/call-to-action.tsx
Labels: apps: marketing

#1005 docs: add article about public api
  apps/marketing/content/blog/public-api.mdx
  apps/marketing/public/blog/api-implementation.webp
  apps/marketing/public/blog/api-package.webp
  apps/marketing/public/blog/blog-author-catalin.webp
  apps/marketing/public/blog/docs.webp
Labels: apps: marketing

#1022 feat: added custom dark mode styling for swagger ui
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
  packages/api/v1/api-documentation.tsx
  packages/ui/styles/theme.css
Labels: apps: web

#1030 chore: use rust based cms signing
  .env.example
  apps/marketing/next.config.js
  apps/web/next.config.js
  package-lock.json
  package.json
  packages/signing/constants/byte-range.ts
  packages/signing/helpers/add-signing-placeholder.ts
  packages/signing/helpers/update-signing-placeholder.test.ts
  packages/signing/helpers/update-signing-placeholder.ts
  packages/signing/index.ts
  packages/signing/package.json
  packages/signing/transports/google-cloud-hsm.ts
  packages/signing/transports/local-cert.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: apps: web, version bump 👀, 🚨 .env changes 🚨, apps: marketing

#1006 feat: improve lint-staged performance
  .vscode/settings.json
  lint-staged.config.cjs
  package-lock.json
  package.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
Labels: version bump 👀

#1036 fix: username overflow issue
  apps/web/src/components/forms/public-profile-claim-dialog.tsx
Labels: apps: web

#1040 feat: restructure open page
  apps/marketing/src/app/(marketing)/open/monthly-completed-documents-chart copy.tsx
  apps/marketing/src/app/(marketing)/open/page.tsx
  apps/marketing/src/app/(marketing)/open/team-members.tsx
  packages/lib/server-only/user/get-monthly-completed-document.ts
  packages/prisma/seed/pr-711-deletion-of-documents.ts
Labels: apps: marketing

#1047 fix: monthly count instead of cummulative
  apps/marketing/src/app/(marketing)/open/monthly-completed-documents-chart.tsx
Labels: apps: marketing

#1049 chore: add test to update username
  packages/app-tests/e2e/test-update-user-name.spec.ts
Labels: 🚨 e2e changes 🚨

#1042 feat: add sticky behavior to pricing options container
  apps/marketing/src/app/(marketing)/layout.tsx
  apps/marketing/src/components/(marketing)/pricing-table.tsx
Labels: apps: marketing

#1053 feat: remove 2FA password requirement
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  apps/web/src/components/forms/2fa/authenticator-app.tsx
  apps/web/src/components/forms/2fa/disable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/recovery-codes.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
  packages/lib/server-only/2fa/disable-2fa.ts
  packages/lib/server-only/2fa/enable-2fa.ts
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/2fa/view-backup-codes.ts
  packages/trpc/server/two-factor-authentication-router/router.ts
  packages/trpc/server/two-factor-authentication-router/schema.ts
Labels: apps: web

#1045 chore: add test for multiple recipient
  packages/app-tests/e2e/pr-718-add-stepper-component.spec.ts
  packages/app-tests/package.json
  packages/lib/server-only/document/get-document-by-token.ts
  packages/ui/primitives/document-flow/add-subject.tsx
Labels: version bump 👀, 🚨 e2e changes 🚨, apps: marketing

#989 feat: add passkeys
  apps/web/package.json
  apps/web/src/app/(dashboard)/settings/security/activity/page.tsx
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  apps/web/src/app/(dashboard)/settings/security/passkeys/create-passkey-dialog.tsx
  apps/web/src/app/(dashboard)/settings/security/passkeys/page.tsx
  apps/web/src/app/(dashboard)/settings/security/passkeys/user-passkeys-data-table-actions.tsx
  apps/web/src/app/(dashboard)/settings/security/passkeys/user-passkeys-data-table.tsx
  apps/web/src/components/(dashboard)/settings/layout/header.tsx
  apps/web/src/components/forms/signin.tsx
  package-lock.json
  packages/lib/constants/auth.ts
  packages/lib/constants/feature-flags.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/server-only/auth/create-passkey-registration-options.ts
  packages/lib/server-only/auth/create-passkey-signin-options.ts
  packages/lib/server-only/auth/create-passkey.ts
  packages/lib/server-only/auth/delete-passkey.ts
  packages/lib/server-only/auth/find-passkeys.ts
  packages/lib/server-only/auth/update-passkey.ts
  packages/lib/types/webauthn.ts
  packages/lib/utils/authenticator.ts
  packages/prisma/migrations/20240306060259_add_passkeys/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/auth-router/schema.ts
Labels: apps: web, version bump 👀, 🚨 migrations 🚨

#1039 fix: update document flow fetch logic
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  packages/lib/constants/trpc.ts
  packages/lib/server-only/document/get-document-with-details-by-id.ts
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/recipient/set-recipients-for-document.ts
  packages/prisma/types/document.ts
  packages/trpc/client/index.ts
  packages/trpc/react/index.tsx
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: apps: web

#1052 feat: S3Client: Add forcePathStyle
  .env.example
  docker/README.md
  docker/production/compose.yml
  packages/lib/universal/upload/server-actions.ts
  packages/tsconfig/process-env.d.ts
  render.yaml
  turbo.json
Labels: 🚨 .env changes 🚨

#1054 fix: render fields on document load
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/document-flow/add-title.tsx
Labels: apps: web, apps: marketing

#1064 fix: user preview to lowercase
  apps/web/src/components/ui/user-profile-skeleton.tsx
Labels: apps: web

#1023 feat: document super delete
  apps/web/src/app/(dashboard)/admin/documents/[id]/page.tsx
  apps/web/src/app/(dashboard)/admin/documents/[id]/super-delete-document-dialog.tsx
  packages/email/template-components/template-document-super-delete.tsx
  packages/email/templates/document-super-delete.tsx
  packages/lib/server-only/document/send-delete-email.ts
  packages/lib/server-only/document/super-delete-document.ts
  packages/trpc/server/admin-router/router.ts
  packages/trpc/server/admin-router/schema.ts
Labels: apps: web

#1069 fix: linting warnings
  apps/web/src/app/(dashboard)/admin/users/data-table-users.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatars.tsx
  apps/web/src/components/branding/logo.tsx
  apps/web/src/components/formatter/template-type.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
  apps/web/src/components/forms/profile.tsx
  apps/web/src/components/ui/background.tsx
  apps/web/src/providers/next-theme.tsx
Labels: apps: web

#1065 feat: add passkey and 2FA document action auth options
  apps/web/src/app/(dashboard)/settings/security/passkeys/create-passkey-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/document-action-auth-2fa.tsx
  apps/web/src/app/(signing)/sign/[token]/document-action-auth-account.tsx
  apps/web/src/app/(signing)/sign/[token]/document-action-auth-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/document-action-auth-passkey.tsx
  apps/web/src/app/(signing)/sign/[token]/document-auth-provider.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/signin.tsx
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/pr-718-add-stepper-component.spec.ts
  packages/lib/constants/document-auth.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/server-only/auth/create-passkey-authentication-options.ts
  packages/lib/server-only/auth/create-passkey-registration-options.ts
  packages/lib/server-only/auth/create-passkey-signin-options.ts
  packages/lib/server-only/auth/create-passkey.ts
  packages/lib/server-only/auth/find-passkeys.ts
  packages/lib/server-only/document/is-recipient-authorized.ts
  packages/lib/types/document-auth.ts
  packages/lib/utils/authenticator.ts
  packages/prisma/migrations/20240327074701_add_secondary_verification_id/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/auth-router/schema.ts
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨
