Repository documenso/documenso, pull requests merged in 2024-05, with the labels that each got.

#1131 fix: enforce users to have stripe account
  apps/web/src/pages/api/auth/[...nextauth].ts
Labels: apps: web

#1130 fix: disable encrypted pdfs
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  apps/web/src/app/(dashboard)/templates/new-template-dialog.tsx
  packages/api/v1/implementation.ts
  packages/ee/server-only/stripe/webhook/on-early-adopters-checkout.ts
  packages/lib/constants/feature-flags.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/universal/upload/put-file.ts
  packages/trpc/server/singleplayer-router/router.ts
Labels: apps: web, apps: marketing, pkg: ee changes

#1147 feat: add general template enhancements
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  packages/api/v1/implementation.ts
  packages/app-tests/e2e/templates/manage-templates.spec.ts
  packages/lib/constants/template.ts
  packages/lib/errors/app-error.ts
  packages/lib/server-only/template/create-document-from-template-legacy.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.tsx
Labels: apps: web, 🚨 e2e changes 🚨

#1148 fix: allow template recipients to be filled
  apps/web/src/app/(dashboard)/templates/[id]/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  packages/lib/constants/template.ts
  packages/ui/components/recipient/recipient-action-auth-select.tsx
  packages/ui/components/recipient/recipient-role-select.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.tsx
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.types.ts
Labels: apps: web

#1134 fix: unauthorized access error api tokens page team
  apps/web/src/app/(teams)/t/[teamUrl]/settings/tokens/page.tsx
  packages/lib/server-only/public-api/get-all-team-tokens.ts
Labels: apps: web

#1123 feat: show time in documents table
  apps/web/src/app/(dashboard)/documents/data-table.tsx
Labels: apps: web

#1161 chore: change default sender name to match prod
  .env.example
Labels: 🚨 .env changes 🚨

#1170 feat: sealing robustness
  apps/marketing/next.config.js
  apps/marketing/public/pdf.worker.min.js
  apps/web/next.config.js
  apps/web/public/pdf.worker.min.js
  apps/web/src/app/(dashboard)/admin/documents/[id]/admin-actions.tsx
  apps/web/src/app/(dashboard)/admin/documents/[id]/page.tsx
  package-lock.json
  packages/assets/fonts/noto-sans.ttf
  packages/lib/constants/pdf.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/pdf/flatten-form.ts
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/trpc/server/admin-router/router.ts
  packages/tsconfig/process-env.d.ts
  packages/ui/package.json
  turbo.json
Labels: apps: web, version bump 👀, apps: marketing

#936 feat: pin input component
  apps/web/package.json
  apps/web/src/app/(signing)/sign/[token]/document-action-auth-2fa.tsx
  apps/web/src/components/forms/2fa/disable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/enable-authenticator-app-dialog.tsx
  apps/web/src/components/forms/2fa/view-recovery-codes-dialog.tsx
  apps/web/src/components/forms/signin.tsx
  package-lock.json
  packages/tailwind-config/index.cjs
  packages/ui/primitives/pin-input.tsx
Labels: apps: web, version bump 👀

#910 fix: Remove document on go back click on step 1
  apps/marketing/src/app/(marketing)/singleplayer/client.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
Labels: apps: marketing

#1122 fix: show team url in dropdown menu on hover
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
Labels: apps: web

#1079 chore: add more tests
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
Labels: 🚨 e2e changes 🚨

#1041 feat: add kysely for raw type-safe SQL queries
  apps/marketing/src/app/(marketing)/open/monthly-completed-documents-chart.tsx
  apps/marketing/src/app/(marketing)/open/total-signed-documents-chart.tsx
  package-lock.json
  package.json
  packages/lib/package.json
  packages/lib/server-only/user/get-monthly-completed-document.ts
  packages/lib/server-only/user/get-user-monthly-growth.ts
  packages/prisma/.gitignore
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/prisma/utils/remember.ts
Labels: version bump 👀, apps: marketing

#1173 fix: Capitalise "Stripe"
  apps/marketing/src/components/(marketing)/share-connect-paid-widget-bento.tsx
Labels: apps: marketing

#1103 feat: add oidc support
  .env.example
  apps/web/process-env.d.ts
  apps/web/src/app/(unauthenticated)/signin/page.tsx
  apps/web/src/app/(unauthenticated)/signup/page.tsx
  apps/web/src/components/forms/signin.tsx
  apps/web/src/components/forms/signup.tsx
  apps/web/src/components/forms/v2/signup.tsx
  packages/lib/constants/auth.ts
  packages/lib/next-auth/auth-options.ts
  packages/prisma/migrations/20240413202001_add_oidc_auth/migration.sql
  packages/prisma/migrations/20240530120101_add_missing_fields_to_account_model_for_oidc/migration.sql
  packages/prisma/schema.prisma
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: apps: web, 🚨 migrations 🚨, 🚨 .env changes 🚨
