Repository documenso/documenso, pull requests merged in 2024-01, with the labels that each got.

#794 fix: fixed padding in footer
  apps/marketing/src/components/(marketing)/footer.tsx
Labels: apps: web, apps: marketing

#770 feat: updated one-click deploys
  README.md
  apps/marketing/package.json
  apps/web/package.json
  package-lock.json
  railway.toml
Labels: apps: web, version bump 👀, apps: marketing

#802 chore: fix package vulnerabilities
  package-lock.json
  packages/eslint-config/package.json
  packages/tailwind-config/package.json
Labels: version bump 👀

#803 fix: stepsRemaining value of the early adopters plan's input section
  apps/marketing/src/components/(marketing)/widget.tsx
Labels: apps: marketing

#805 feat: jump to next field
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
Labels: apps: web

#806 chore: fix color for light mode icon
  apps/marketing/content/blog/pre-seed.mdx
  apps/marketing/content/blog/shop.mdx
  packages/ui/primitives/theme-switcher.tsx
Labels: apps: marketing

#830 fix: keyboard shortcut ctrl+k fixed
  apps/web/src/components/(dashboard)/common/command-menu.tsx
Labels: apps: web

#837 fix: display the number of documents in mobile view
  apps/web/src/app/(dashboard)/documents/page.tsx
Labels: apps: web

#780 feat: improve the UX for password protected documents
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  package-lock.json
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/duplicate-document-by-id.ts
  packages/prisma/migrations/20240115031508_add_password_to_document_meta/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/ui/package.json
  packages/ui/primitives/document-password-dialog.tsx
  packages/ui/primitives/pdf-viewer.tsx
Labels: apps: web, version bump 👀, 🚨 migrations 🚨

#839 fix: fix bug for completed document shortcut
  apps/web/src/components/(dashboard)/common/command-menu.tsx
Labels: apps: web

#827 feat: linear-gh blogpost
  apps/marketing/content/blog/linear-gh.mdx
  apps/marketing/public/blog/gh1.png
  apps/marketing/public/blog/gh2.png
Labels: apps: marketing

#851 chore: added target blank for github link:
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
Labels: apps: web

#736 fix: add conditional rendering of OAuth providers
  apps/web/src/app/(unauthenticated)/signin/page.tsx
  apps/web/src/components/forms/signin.tsx
  packages/lib/constants/auth.ts
Labels: apps: web

#858 chore: add adi to open page
  apps/marketing/src/app/(marketing)/open/data.ts
Labels: apps: marketing

#709 fix: visibility of update password & security fields using identityprovider
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  packages/lib/constants/auth.ts
Labels: apps: web

#854 feat: command group distinction
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  apps/web/src/components/(dashboard)/layout/verify-email-banner.tsx
  packages/ui/primitives/command.tsx
Labels: apps: web

#842 fix: disabled signing pad when submitting form
  apps/web/src/components/forms/profile.tsx
Labels: apps: web

#862 feat: sign up with Google
  apps/web/src/app/(unauthenticated)/signup/page.tsx
  apps/web/src/components/forms/signup.tsx
Labels: apps: web

#856 fix: auto verify google sso emails
  packages/lib/next-auth/auth-options.ts
Labels: apps: web

#863 feat: add server crypto
  .env.example
  packages/lib/constants/crypto.ts
  packages/lib/server-only/crypto/decrypt.ts
  packages/lib/server-only/crypto/encrypt.ts
  packages/trpc/server/crypto/router.ts
  packages/trpc/server/crypto/schema.ts
  packages/trpc/server/router.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: 🚨 .env changes 🚨

#865 feat: commodifying signing
  apps/marketing/content/blog/commodifying-signing.mdx
  apps/marketing/content/blog/manifest.mdx
  apps/marketing/public/blog/lighthouse.jpeg
Labels: apps: marketing

#874 Feat/commodifying signing
  apps/marketing/content/blog/commodifying-signing.mdx
Labels: apps: marketing

#872 fix: resolve conflicting z-index values btwn avatar in document list and header
  apps/web/src/components/(dashboard)/layout/header.tsx
  apps/web/src/components/(dashboard)/layout/profile-dropdown.tsx
Labels: apps: web

#880 chore: rewording to avoid confusion between signed and original document
  apps/web/src/app/(signing)/sign/[token]/complete/document-preview-button.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/page.tsx
Labels: apps: web

#879 fix: sign dialog completed title color in dark mode
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
Labels: apps: web

#469 feat: added password validation
  .env.example
  apps/web/src/components/forms/password.tsx
  apps/web/src/components/forms/reset-password.tsx
  apps/web/src/components/forms/signin.tsx
  apps/web/src/components/forms/signup.tsx
  packages/trpc/server/auth-router/schema.ts
  packages/trpc/server/profile-router/schema.ts
  packages/ui/primitives/data-table-pagination.tsx
Labels: ☣️ Malfunction Mania

#882 fix: document count period filter
  apps/web/src/app/(dashboard)/documents/page.tsx
  apps/web/src/components/(dashboard)/period-selector/types.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-stats.ts
Labels: apps: web
