Repository documenso/documenso, pull requests merged in 2024-06, with the labels that each got.

#1179 fix: add correct role names for direct templates
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  packages/email/templates/document-created-from-direct-template.tsx
  packages/lib/server-only/template/create-document-from-direct-template.ts
Labels: apps: web

#1184 fix: add regular plan to price type enum
  apps/web/src/app/(dashboard)/admin/users/page.tsx
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  packages/ee/server-only/stripe/get-document-related-prices.ts.ts
  packages/ee/server-only/stripe/get-prices-by-interval.ts
  packages/ee/server-only/stripe/get-primary-account-plan-prices.ts
  packages/lib/constants/billing.ts
Labels: apps: web, pkg: ee changes

#1186 fix: carousel on mobile screen
  apps/marketing/src/components/(marketing)/carousel.tsx
  apps/marketing/src/components/(marketing)/slide.tsx
Labels: apps: marketing

#1175 chore: freelance-blog
  apps/marketing/content/blog/how-documenso-help-freelancers-close-more-clients-efficiently.mdx
Labels: apps: marketing

#1177 chore: direct links announce
  apps/marketing/content/blog/announcing-direct-links.mdx
  apps/marketing/public/blog/direct-links.png
Labels: apps: marketing

#1189 chore: bump date
  apps/marketing/content/blog/announcing-direct-links.mdx
Labels: apps: marketing

#1190 feat: add changelog to marketing
  apps/marketing/content/changelog.mdx
  apps/marketing/src/components/(marketing)/footer.tsx
Labels: apps: marketing

#1181 chore: freelancer blog article #2
  apps/marketing/content/blog/how-documenso-enhances-contract-management-for-freelancers-helping-them-close-more-clients-efficiently.mdx
  apps/marketing/content/blog/how-documenso-help-freelancers-close-more-clients-efficiently.mdx
  apps/marketing/public/blog/l1.png
  apps/marketing/public/blog/l2.png
  apps/marketing/public/blog/l3.png
Labels: apps: marketing

#1160 feat: background tasks
  .env.example
  .vscode/settings.json
  apps/marketing/package.json
  apps/web/package.json
  apps/web/src/pages/api/jobs/[[...handler]].ts
  docker/development/compose.yml
  package-lock.json
  package.json
  packages/ee/package.json
  packages/lib/jobs/client.ts
  packages/lib/jobs/client/_internal/job.ts
  packages/lib/jobs/client/_internal/json.ts
  packages/lib/jobs/client/base.ts
  packages/lib/jobs/client/client.ts
  packages/lib/jobs/client/inngest.ts
  packages/lib/jobs/client/local.ts
  packages/lib/jobs/client/trigger.ts
  packages/lib/jobs/definitions/send-confirmation-email.ts
  packages/lib/jobs/definitions/send-signing-email.ts
  packages/lib/next-auth/auth-options.ts
  packages/lib/package.json
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/user/verify-email.ts
  packages/lib/universal/extract-request-metadata.ts
  packages/prisma/migrations/20240516022236_add_background_job_models/migration.sql
  packages/prisma/migrations/20240516030441_add_more_timestamp_columns_for_background_jobs/migration.sql
  packages/prisma/migrations/20240516032317_capture_payload_for_background_job/migration.sql
  packages/prisma/migrations/20240516034546_update_background_job_task_model/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/profile-router/router.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: apps: web, version bump 👀, 🚨 migrations 🚨, 🚨 .env changes 🚨, apps: marketing, pkg: ee changes

#1158 fix: show field on pending document
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/components/document/document-read-only-fields.tsx
  packages/lib/server-only/field/get-completed-fields-for-token.ts
  packages/lib/server-only/field/get-fields-for-document.ts
Labels: apps: web, apps: marketing

#1139 feat: force signature fields for document signers
  apps/marketing/content/blog/announcing-direct-links.mdx
  apps/marketing/content/blog/how-documenso-enhances-contract-management-for-freelancers-helping-them-close-more-clients-efficiently.mdx
  apps/marketing/content/blog/how-documenso-help-freelancers-close-more-clients-efficiently.mdx
  apps/marketing/content/blog/sunsetting-early-adopters.mdx
  apps/web/src/app/(dashboard)/templates/template-direct-link-dialog.tsx
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/ee/server-only/stripe/get-document-related-prices.ts.ts
  packages/ee/server-only/stripe/get-prices-by-interval.ts
  packages/ee/server-only/stripe/get-primary-account-plan-prices.ts
  packages/lib/server-only/document/send-document.tsx
  packages/prisma/seed/documents.ts
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/missing-signature-field-dialog.tsx
Labels: apps: web, version bump 👀, 🚨 e2e changes 🚨, apps: marketing, pkg: ee changes

#1194 chore: add direct link video
  apps/marketing/src/components/(marketing)/carousel.tsx
Labels: apps: marketing

#1080 feat: admin activation metrics
  apps/web/src/app/(dashboard)/admin/stats/page.tsx
  apps/web/src/app/(dashboard)/admin/stats/user-with-document.tsx
  packages/lib/server-only/admin/get-users-stats.ts
  packages/ui/styles/theme.css
Labels: apps: web

#1191 fix: show correct authentication action for account required
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-auth-page.tsx
Labels: apps: web

#1201 fix: docker ci
  apps/web/package.json
  package-lock.json
Labels: apps: web, version bump 👀

#1199 fix: enable yearly team pricing
  apps/marketing/src/components/(marketing)/pricing-table.tsx
  apps/web/src/components/(teams)/dialogs/create-team-checkout-dialog.tsx
Labels: apps: web, apps: marketing

#1198 feat: add more template API endpoints
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/templates/delete-template-dialog.tsx
  packages/api/v1/contract.ts
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/lib/server-only/template/delete-template.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web

#1180 feat: add public profiles
  .eslintrc.cjs
  apps/web/public/static/early-supporter-badge.svg
  apps/web/public/static/premium-user-badge.svg
  apps/web/src/app/(dashboard)/settings/profile/claim-profile-alert-dialog.tsx
  apps/web/src/app/(dashboard)/settings/profile/page.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/page.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-profile-page-view.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-templates-data-table.tsx
  apps/web/src/app/(profile)/layout.tsx
  apps/web/src/app/(profile)/p/[url]/not-found.tsx
  apps/web/src/app/(profile)/p/[url]/page.tsx
  apps/web/src/app/(profile)/profile-header.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/public-profile/page.tsx
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
  apps/web/src/components/(dashboard)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(dashboard)/settings/layout/mobile-nav.tsx
  apps/web/src/components/(teams)/settings/layout/desktop-nav.tsx
  apps/web/src/components/(teams)/settings/layout/mobile-nav.tsx
  apps/web/src/components/forms/avatar-image.tsx
  apps/web/src/components/forms/public-profile-form.tsx
  apps/web/src/components/templates/manage-public-template-dialog.tsx
  apps/web/src/pages/api/avatar/[id].tsx
  package-lock.json
  packages/lib/constants/feature-flags.ts
  packages/lib/package.json
  packages/lib/server-only/profile/get-avatar-image.ts
  packages/lib/server-only/profile/get-public-profile-by-url.ts
  packages/lib/server-only/profile/set-avatar-image.ts
  packages/lib/server-only/team/create-team.ts
  packages/lib/server-only/team/get-team-public-profile.ts
  packages/lib/server-only/team/update-team-public-profile.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/template/update-template-settings.ts
  packages/lib/server-only/user/get-user-public-profile.ts
  packages/lib/server-only/user/update-public-profile.ts
  packages/lib/utils/billing.ts
  packages/lib/utils/public-profiles.ts
  packages/prisma/migrations/20240606060033_add_public_profiles/migration.sql
  packages/prisma/migrations/20240627050809_add_avatar_image_model/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/profile-router/router.ts
  packages/trpc/server/profile-router/schema.ts
  packages/trpc/server/team-router/router.ts
  packages/trpc/server/team-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/tsconfig/tsconfig.json
  packages/ui/primitives/avatar.tsx
  packages/ui/primitives/textarea.tsx
Labels: apps: web, version bump 👀, 🚨 migrations 🚨, 🚨 .env changes 🚨

#1202 chore: nda-blog
  apps/marketing/content/blog/signing-an-nda-faster-with-documenso.mdx
  apps/marketing/public/blog/nda.jpg
  apps/marketing/public/blog/send-documents.png
Labels: apps: marketing
