Repository documenso/documenso, pull requests merged in 2024-12, with the labels that each got.

#1497 fix: wrong signing invitation message
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  packages/email/template-components/template-document-invite.tsx
  packages/email/templates/document-invite.tsx
  packages/lib/jobs/definitions/emails/send-signing-email.ts
  packages/lib/server-only/document/get-document-by-token.ts
  packages/lib/server-only/document/resend-document.tsx
Labels: apps: web

#1358 feat: signing volume
  apps/web/src/app/(dashboard)/admin/leaderboard/data-table-leaderboard.tsx
  apps/web/src/app/(dashboard)/admin/leaderboard/fetch-leaderboard.actions.ts
  apps/web/src/app/(dashboard)/admin/leaderboard/page.tsx
  apps/web/src/app/(dashboard)/admin/nav.tsx
  packages/lib/server-only/admin/get-signing-volume.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.js
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.js
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/web.po
Labels: apps: web

#1501 fix: auth cookies across iframes
  apps/web/src/app/embed/sign/[[...url]]/page.tsx
  apps/web/src/middleware.ts
  packages/lib/next-auth/auth-options.ts
Labels: apps: web

#1505 feat: add platform plan pricing
  apps/web/src/app/(dashboard)/settings/billing/page.tsx
  packages/ee/server-only/stripe/get-prices-by-interval.ts
Labels: apps: web, pkg: ee changes

#1500 fix: refactor teams router
  apps/marketing/package.json
  apps/web/package.json
  apps/web/src/app/(profile)/profile-header.tsx
  apps/web/src/app/(recipient)/layout.tsx
  apps/web/src/app/(signing)/sign/[token]/layout.tsx
  apps/web/src/components/(dashboard)/layout/header.tsx
  apps/web/src/components/(dashboard)/layout/menu-switcher.tsx
  apps/web/src/providers/team.tsx
  package-lock.json
  packages/api/package.json
  packages/ee/package.json
  packages/lib/package.json
  packages/lib/server-only/team/create-team-email-verification.ts
  packages/lib/server-only/team/create-team-member-invites.ts
  packages/lib/server-only/team/create-team.ts
  packages/lib/server-only/team/find-team-member-invites.ts
  packages/lib/server-only/team/find-team-members.ts
  packages/lib/server-only/team/find-teams-pending.ts
  packages/lib/server-only/team/get-team-invitations.ts
  packages/lib/server-only/team/get-team-members.ts
  packages/lib/server-only/team/get-team.ts
  packages/lib/server-only/team/get-teams.ts
  packages/lib/server-only/team/leave-team.ts
  packages/lib/server-only/team/request-team-ownership-transfer.ts
  packages/lib/server-only/team/resend-team-email-verification.ts
  packages/lib/server-only/team/resend-team-member-invitation.ts
  packages/lib/server-only/team/update-team-branding-settings.ts
  packages/lib/server-only/team/update-team-document-settings.ts
  packages/lib/server-only/team/update-team-email.ts
  packages/lib/server-only/team/update-team-member.ts
  packages/lib/server-only/team/update-team.ts
  packages/lib/types/find-result-set.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/trpc/package.json
  packages/trpc/server/team-router/router.ts
  packages/tsconfig/base.json
  packages/ui/package.json
Labels: apps: web, version bump 👀, apps: marketing, pkg: ee changes

#1510 chore: remove redundant translations on upload
  package.json
Labels: version bump 👀

#1511 fix: refactor trpc errors
  apps/web/src/app/(dashboard)/settings/profile/delete-account-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/complete/claim-account.tsx
  apps/web/src/components/forms/avatar-image.tsx
  apps/web/src/components/forms/password.tsx
  apps/web/src/components/forms/reset-password.tsx
  apps/web/src/components/forms/signup.tsx
  apps/web/src/components/forms/v2/signup.tsx
  apps/web/src/pages/api/trpc/[trpc].ts
  packages/lib/server-only/crypto/encrypt.ts
  packages/lib/server-only/profile/set-avatar-image.ts
  packages/lib/server-only/user/create-user.ts
  packages/lib/server-only/user/reset-password.ts
  packages/lib/server-only/user/update-password.ts
  packages/trpc/server/admin-router/router.ts
  packages/trpc/server/api-token-router/router.ts
  packages/trpc/server/auth-router/router.ts
  packages/trpc/server/crypto/router.ts
  packages/trpc/server/crypto/schema.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/profile-router/router.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/router.ts
  packages/trpc/server/share-link-router/router.ts
  packages/trpc/server/singleplayer-router/router.ts
  packages/trpc/server/two-factor-authentication-router/router.ts
  packages/trpc/server/webhook-router/router.ts
Labels: apps: web

#1515 fix: prevent accidental signatures
  .devcontainer/devcontainer.json
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/provider.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/embed/direct/[[...url]]/client.tsx
  apps/web/src/app/embed/sign/[[...url]]/client.tsx
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/app-tests/e2e/features/include-document-certificate.spec.ts
  packages/app-tests/e2e/user/auth-flow.spec.ts
  packages/app-tests/e2e/user/update-name.spec.ts
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/web.po
  packages/ui/primitives/document-flow/add-signature.tsx
  packages/ui/primitives/signature-pad/signature-pad.tsx
Labels: apps: web, 🚨 e2e changes 🚨

#1523 fix: refactor routers
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-button.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/[id]/edit/document-edit-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-button.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/template-edit-page-view.tsx
  apps/web/src/app/(dashboard)/templates/delete-template-dialog.tsx
  apps/web/src/app/(recipient)/d/[token]/configure-direct-template.tsx
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/waiting/page.tsx
  apps/web/src/components/templates/manage-public-template-dialog.tsx
  packages/api/v1/implementation.ts
  packages/lib/server-only/document/duplicate-document-by-id.ts
  packages/lib/server-only/document/get-document-by-id.ts
  packages/lib/server-only/document/get-document-with-details-by-id.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/lib/server-only/template/get-template-with-details-by-id.ts
  packages/prisma/types/template.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/team-router/router.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/field-item-advanced-settings.tsx
Labels: apps: web

#1419 feat: open page api
  apps/documentation/README.md
  apps/openpage-api/.gitignore
  apps/openpage-api/README.md
  apps/openpage-api/app/community/route.ts
  apps/openpage-api/app/community/total-forks/route.ts
  apps/openpage-api/app/community/total-issues/route.ts
  apps/openpage-api/app/community/total-prs/route.ts
  apps/openpage-api/app/community/total-stars/route.ts
  apps/openpage-api/app/github/forks/route.ts
  apps/openpage-api/app/github/issues/route.ts
  apps/openpage-api/app/github/prs/route.ts
  apps/openpage-api/app/github/route.ts
  apps/openpage-api/app/github/stars/route.ts
  apps/openpage-api/app/growth/completed-documents/route.ts
  apps/openpage-api/app/growth/new-users/route.ts
  apps/openpage-api/app/growth/route.ts
  apps/openpage-api/app/growth/signer-conversion/route.ts
  apps/openpage-api/app/growth/total-completed-documents/route.ts
  apps/openpage-api/app/growth/total-customers/route.ts
  apps/openpage-api/app/growth/total-signer-conversion/route.ts
  apps/openpage-api/app/growth/total-users/route.ts
  apps/openpage-api/app/route.ts
  apps/openpage-api/lib/cors.ts
  apps/openpage-api/lib/growth/get-monthly-completed-document.ts
  apps/openpage-api/lib/growth/get-signer-conversion.ts
  apps/openpage-api/lib/growth/get-user-monthly-growth.ts
  apps/openpage-api/lib/transform-data.ts
  apps/openpage-api/next.config.js
  apps/openpage-api/package.json
  apps/openpage-api/tsconfig.json
  package-lock.json
  package.json
Labels: version bump 👀

#1529 fix: refactor search routes
  apps/web/src/app/(dashboard)/admin/documents/document-results.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-data-table.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-profile-page-view.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-templates-data-table.tsx
  apps/web/src/app/(dashboard)/settings/security/activity/user-security-activity-data-table.tsx
  apps/web/src/app/(dashboard)/settings/security/passkeys/user-passkeys-data-table.tsx
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view-documents-table.tsx
  apps/web/src/app/(dashboard)/templates/templates-page-view.tsx
  apps/web/src/components/(teams)/tables/current-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/pending-user-teams-data-table.tsx
  apps/web/src/components/(teams)/tables/team-member-invites-data-table.tsx
  apps/web/src/components/(teams)/tables/team-members-data-table.tsx
  packages/api/v1/implementation.ts
  packages/lib/server-only/admin/get-all-documents.ts
  packages/lib/server-only/auth/find-passkeys.ts
  packages/lib/server-only/document/find-document-audit-logs.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/team/find-team-member-invites.ts
  packages/lib/server-only/team/find-team-members.ts
  packages/lib/server-only/team/find-teams-pending.ts
  packages/lib/server-only/team/find-teams.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/user/find-user-security-audit-logs.ts
  packages/lib/types/find-result-set.ts
  packages/lib/types/search-params.ts
  packages/trpc/server/admin-router/router.ts
  packages/trpc/server/admin-router/schema.ts
  packages/trpc/server/auth-router/schema.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/team-router/router.ts
  packages/trpc/server/team-router/schema.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web

#1534 feat: add controls for sending completion emails to document owners
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/app-tests/e2e/api/v1/document-sending.spec.ts
  packages/lib/server-only/document/send-completed-email.ts
  packages/lib/types/document-email.ts
  packages/ui/components/document/document-email-checkboxes.tsx
Labels: 🚨 e2e changes 🚨

#1522 fix: admin leaderboard query
  apps/web/src/app/(dashboard)/admin/leaderboard/data-table-leaderboard.tsx
  packages/lib/server-only/admin/get-signing-volume.ts
Labels: apps: web

#1539 feat: make enterprise billing dynamic
  packages/ee/server-only/util/is-document-enterprise.ts
  packages/lib/utils/billing.ts
Labels: pkg: ee changes

#1521 fix: document visibility logic
  apps/documentation/pages/users/teams/document-visibility.mdx
  packages/app-tests/e2e/teams/team-documents.spec.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/update-document-settings.ts
  packages/prisma/seed/teams.ts
  packages/ui/components/document/document-visibility-select.tsx
  packages/ui/primitives/document-flow/add-settings.tsx
Labels: 🚨 e2e changes 🚨

#1537 fix: checkbox logic
  apps/web/src/app/(signing)/sign/[token]/checkbox-field.tsx
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/universal/field-checkbox.ts
Labels: apps: web

#1556 fix: tests
  .github/workflows/e2e-tests.yml
Labels: version bump 👀

#1554 fix: billing page formatting
  apps/web/src/app/(teams)/t/[teamUrl]/settings/billing/page.tsx
Labels: apps: web

#1456 feat: additional valid password
  apps/openpage-api/app/growth/total-users/route.ts
  apps/openpage-api/lib/cors.ts
  apps/web/src/app/(signing)/sign/[token]/dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/components/(dashboard)/avatar/stack-avatar.tsx
  apps/web/src/components/forms/v2/signup.tsx
  packages/trpc/server/auth-router/schema.ts
  packages/ui/primitives/document-flow/add-fields.tsx
Labels: apps: web

#1470 feat: enable optional fields
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/sign-dialog.tsx
  packages/lib/jobs/definitions/internal/seal-document.handler.ts
  packages/lib/server-only/document/complete-document-with-token.ts
  packages/lib/server-only/document/seal-document.ts
  packages/lib/utils/advanced-fields-helpers.ts
  packages/ui/primitives/template-flow/add-template-settings.tsx
Labels: apps: web

#1559 fix: default to user timezone
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  packages/lib/server-only/document/create-document.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: apps: web

#1563 fix: merge common and web po files
  apps/documentation/pages/developers/contributing/contributing-translations.mdx
  apps/web/lingui.config.ts
  apps/web/package.json
  lingui.config.ts
  package.json
  packages/lib/client-only/providers/i18n.server.tsx
  packages/lib/translations/de/common.po
  packages/lib/translations/de/web.po
  packages/lib/translations/en/common.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/common.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/common.po
  packages/lib/translations/fr/web.po
  packages/lib/translations/pl/common.po
  packages/lib/translations/pl/web.po
  packages/lib/translations/ro/common.po
  packages/lib/translations/ro/web.po
  packages/lib/utils/i18n.ts
  turbo.json
Labels: apps: web, version bump 👀
