Repository documenso/documenso, pull requests merged in 2024-07, with the labels that each got.

#1211 chore: profiles announce blogpost
  apps/marketing/content/blog/announcing-profiles.mdx
  apps/marketing/public/blog/profile1.png
Labels: apps: marketing

#1210 feat: move document to team
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/move-document-dialog.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  packages/lib/server-only/document/find-document-audit-logs.ts
  packages/lib/server-only/document/move-document-to-team.ts
  packages/lib/types/document-audit-logs.ts
  packages/lib/utils/document-audit-logs.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
Labels: apps: web

#1213 chore: changelog 156
  apps/marketing/content/changelog.mdx
Labels: apps: marketing

#1214 Chore/changelog-156
  apps/marketing/content/changelog.mdx
Labels: apps: marketing

#1218 Chore/freelancer-3-hacks
  apps/marketing/content/blog/signing-an-nda-faster-with-documenso.mdx
  apps/marketing/public/blog/zen.webp
Labels: apps: marketing

#1215 feat: send custom email to signers of direct template documents
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  packages/email/template-components/template-document-completed.tsx
  packages/email/templates/document-completed.tsx
  packages/lib/server-only/document/move-document-to-team.ts
  packages/lib/server-only/document/send-completed-email.ts
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web

#1220 fix: use team avatar everywhere
  apps/web/src/app/(dashboard)/documents/documents-page-view.tsx
  apps/web/src/app/(dashboard)/settings/teams/team-invitations.tsx
  apps/web/src/app/(dashboard)/templates/templates-page-view.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/page.tsx
  apps/web/src/components/(teams)/dialogs/leave-team-dialog.tsx
  apps/web/src/components/(teams)/tables/current-user-teams-data-table.tsx
  packages/lib/server-only/team/get-team-invitations.ts
Labels: apps: web

#1217 feat: move template to team
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/templates/move-template-dialog.tsx
  packages/lib/server-only/template/move-template-to-team.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web

#1150 feat: add user conversion count to admin panel
  apps/marketing/content/blog/announcing-profiles.mdx
  apps/marketing/content/blog/signing-an-nda-faster-with-documenso.mdx
  apps/marketing/content/changelog.mdx
  apps/web/src/app/(dashboard)/admin/nav.tsx
  apps/web/src/app/(dashboard)/admin/stats/page.tsx
  apps/web/src/app/(dashboard)/admin/stats/signer-conversion-chart.tsx
  apps/web/src/app/(dashboard)/admin/stats/user-with-document.tsx
  apps/web/src/components/(dashboard)/metric-card/metric-card.tsx
  packages/lib/server-only/user/get-signer-conversion.ts
Labels: apps: web, apps: marketing

#1204 feat: allow anonymous smtp authentication
  .env.example
  docker/README.md
  packages/email/mailer.ts
  packages/lib/server-only/auth/send-confirmation-email.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: 🚨 .env changes 🚨

#1227 feat: add external id to documents and templates
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit-template.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/update-document-settings.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/update-template-settings.ts
  packages/lib/types/document-audit-logs.ts
  packages/lib/utils/document-audit-logs.ts
  packages/prisma/migrations/20240712031001_add_external_id_column/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-settings.types.ts
  packages/ui/primitives/template-flow/add-template-settings.tsx
  packages/ui/primitives/template-flow/add-template-settings.types.tsx
Labels: apps: web, 🚨 migrations 🚨

#1231 Chore/vial-blog
  apps/marketing/content/blog/announcing-vial-21-cfr-part-11.mdx
  apps/marketing/public/blog/vial.webm
  apps/marketing/public/blog/vial2.webm
Labels: apps: marketing

#1233 chore: links new docs
  apps/marketing/public/blog/sov.webp
  apps/marketing/src/components/(marketing)/footer.tsx
  apps/web/src/app/(dashboard)/settings/tokens/page.tsx
Labels: apps: web, apps: marketing

#1237 fix: replace default favicon with documenso logo
  apps/documentation/public/apple-touch-icon.png
  apps/documentation/public/favicon-16x16.png
  apps/documentation/public/favicon-32x32.png
  apps/documentation/theme.config.tsx
  package.json
Labels: version bump 👀

#1234 chore: update signup text
  apps/web/src/components/forms/v2/signup.tsx
Labels: apps: web

#1241 Chore/blog-basic-signing-and-roles
  apps/marketing/content/blog/creating-an-efficient-statement-of-work-approval-process-with-documenso.mdx
  apps/marketing/public/blog/roles.webp
Labels: apps: marketing

#1239 fix: typo in pricing table
  apps/marketing/src/components/(marketing)/pricing-table.tsx
Labels: apps: marketing

#1128 fix: API token deletion not reflected in cache until page reload
  apps/web/src/app/(dashboard)/settings/tokens/page.tsx
  apps/web/src/app/(teams)/t/[teamUrl]/settings/tokens/page.tsx
  apps/web/src/components/forms/token.tsx
Labels: apps: web, apps: marketing

#1247 chore: changelog-160
  apps/marketing/content/changelog.mdx
Labels: apps: marketing

#1252 fix: correct grammar on enterprise page
  apps/marketing/src/components/(marketing)/enterprise.tsx
Labels: apps: marketing

#1255 chore: translation typo
  apps/marketing/src/components/(marketing)/header.tsx
  packages/lib/translations/de/marketing.po
  packages/lib/translations/en/marketing.po
Labels: apps: marketing

#1162 fix: truncation of titles to fix UI breaks
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recent-activity.tsx
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view.tsx
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/components/(dashboard)/layout/header.tsx
  packages/ui/primitives/avatar.tsx
  packages/ui/primitives/dialog.tsx
Labels: apps: web

#1174 fix: add new environmental variables for render deployment
  render.yaml
Labels: apps: marketing

#1208 feat: allow oidc only signup and trust mail addresses
  .env.example
  apps/web/process-env.d.ts
  apps/web/src/pages/api/auth/[...nextauth].ts
  packages/lib/next-auth/auth-options.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: apps: web, 🚨 .env changes 🚨

#1209 feat: make oidc sign in button text configurable
  .env.example
  apps/web/src/app/(unauthenticated)/signin/page.tsx
  apps/web/src/components/forms/signin.tsx
  packages/lib/constants/auth.ts
  packages/tsconfig/process-env.d.ts
  turbo.json
Labels: apps: web, 🚨 .env changes 🚨

#1195 fix: limits syncing issue
  apps/web/src/app/(dashboard)/documents/delete-document-dialog.tsx
  apps/web/src/app/(dashboard)/documents/upload-document.tsx
  packages/ee/server-only/limits/provider/client.tsx
  packages/ee/server-only/limits/provider/server.tsx
Labels: apps: web, pkg: ee changes
