Repository documenso/documenso, pull requests merged in 2025-03, with the labels that each got.

#1615 feat: allow fields prefill when generating a document from a template
  package-lock.json
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/app-tests/e2e/api/v1/template-field-prefill.spec.ts
  packages/app-tests/e2e/api/v2/template-field-prefill.spec.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/types/field-meta.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/field-items-advanced-settings/dropdown-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/text-field.tsx
Labels: version bump 👀, 🚨 e2e changes 🚨

#1691 fix: optional fields in embeds
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/embed/direct/[[...url]]/client.tsx
  apps/web/src/app/embed/sign/[[...url]]/client.tsx
  packages/lib/server-only/template/create-document-from-direct-template.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/field-router/schema.ts
Labels: apps: web

#1693 fix: persist theme cookie for a much longer time
  apps/remix/app/storage/theme-session.server.ts
  package-lock.json
Labels: version bump 👀

#1656 fix: improve layout and truncate document information in logs page
  apps/web/src/app/(dashboard)/documents/[id]/logs/document-logs-page-view.tsx
Labels: apps: web

#1699 fix: adjust desktop nav search button width and spacing
  apps/web/src/components/(dashboard)/layout/desktop-nav.tsx
Labels: apps: web

#1702 feat: better document rejection
  apps/remix/app/components/dialogs/document-delete-dialog.tsx
  apps/remix/app/components/general/document/document-certificate-download-button.tsx
  apps/remix/app/components/general/document/document-page-view-button.tsx
  apps/remix/app/components/general/document/document-page-view-dropdown.tsx
  apps/remix/app/components/general/document/document-page-view-recipients.tsx
  apps/remix/app/components/general/document/document-status.tsx
  apps/remix/app/components/tables/documents-table-action-button.tsx
  apps/remix/app/components/tables/documents-table-action-dropdown.tsx
  apps/remix/app/components/tables/documents-table.tsx
  apps/remix/app/routes/_authenticated+/admin+/documents.$id.tsx
  apps/remix/app/routes/_authenticated+/documents.$id._index.tsx
  apps/remix/app/routes/_authenticated+/documents.$id.edit.tsx
  apps/remix/app/routes/_authenticated+/documents._index.tsx
  apps/remix/app/routes/_internal+/[__htmltopdf]+/certificate.tsx
  apps/remix/app/routes/_recipient+/sign.$token+/_index.tsx
  apps/remix/app/routes/_recipient+/sign.$token+/complete.tsx
  apps/remix/app/routes/embed+/sign.$url.tsx
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/email/template-components/template-document-cancel.tsx
  packages/email/templates/document-cancel.tsx
  packages/lib/constants/document.ts
  packages/lib/jobs/client.ts
  packages/lib/jobs/definitions/emails/send-document-cancelled-emails.handler.ts
  packages/lib/jobs/definitions/emails/send-document-cancelled-emails.ts
  packages/lib/jobs/definitions/internal/seal-document.handler.ts
  packages/lib/server-only/admin/get-documents-stats.ts
  packages/lib/server-only/document/delete-document.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-document-certificate-audit-logs.ts
  packages/lib/server-only/document/get-stats.ts
  packages/lib/server-only/document/reject-document-with-token.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/lib/server-only/document/seal-document.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/pdf/add-rejection-stamp-to-pdf.ts
  packages/lib/server-only/user/delete-user.ts
  packages/lib/universal/extract-request-metadata.ts
  packages/lib/utils/document.ts
  packages/prisma/migrations/20250311103458_add_rejected_document_status/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/seed/documents.ts
  packages/trpc/server/admin-router/router.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/ui/primitives/document-flow/add-subject.tsx
Labels: 🚨 migrations 🚨

#1696 fix: autosigning fields with direct links
  apps/remix/app/components/general/direct-template/direct-template-signing-form.tsx
  apps/remix/app/components/general/document-signing/document-signing-checkbox-field.tsx
Labels: apps: web, version bump 👀, 🚨 e2e changes 🚨, 🚨 .env changes 🚨, pkg: ee changes

#1703 chore: update `d` script in package.json
  package.json
Labels: version bump 👀

#1719 feat: dictate next signer
  apps/remix/app/components/dialogs/assistant-confirmation-dialog.tsx
  apps/remix/app/components/general/document-signing/document-signing-complete-dialog.tsx
  apps/remix/app/components/general/document-signing/document-signing-form.tsx
  apps/remix/app/components/general/document-signing/document-signing-page-view.tsx
  apps/remix/app/components/general/document/document-edit-form.tsx
  apps/remix/app/components/general/template/template-edit-form.tsx
  apps/remix/app/routes/_recipient+/sign.$token+/_index.tsx
  packages/api/v1/implementation.ts
  packages/api/v1/schema.ts
  packages/app-tests/e2e/document-auth/action-auth.spec.ts
  packages/app-tests/e2e/document-auth/next-recipient-dictation.spec.ts
  packages/app-tests/e2e/public-profiles/public-profiles.spec.ts
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/complete-document-with-token.ts
  packages/lib/server-only/recipient/get-next-pending-recipient.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/types/document.ts
  packages/lib/types/template.ts
  packages/lib/types/webhook-payload.ts
  packages/prisma/migrations/20250320113205_add_dictate_signing_order_meta_field/migration.sql
  packages/prisma/migrations/20250320113413_add_signing_order_dictate_meta_field_to_templates/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/add-signers.types.ts
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.tsx
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.types.ts
Labels: 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1721 fix: duplicate webhook calls on document complete
  apps/remix/app/components/dialogs/assistant-confirmation-dialog.tsx
  apps/remix/app/components/general/document-signing/document-signing-form.tsx
  packages/app-tests/e2e/document-auth/next-recipient-dictation.spec.ts
  packages/app-tests/e2e/teams/team-signature-settings.spec.ts
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
  packages/lib/translations/it/web.po
  packages/lib/translations/pl/web.po
  packages/trpc/server/document-router/update-document.ts
  packages/ui/primitives/toast.tsx
Labels: 🚨 e2e changes 🚨
