Repository documenso/documenso, pull requests merged in 2025-02, with the labels that each got.

#1588 feat: assistant role
  apps/web/src/app/(dashboard)/documents/[id]/document-page-view-recipients.tsx
  apps/web/src/app/(dashboard)/documents/move-document-dialog.tsx
  apps/web/src/app/(dashboard)/templates/move-template-dialog.tsx
  apps/web/src/app/(dashboard)/templates/template-direct-link-dialog.tsx
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/assistant/assistant-confirmation-dialog.tsx
  apps/web/src/app/(signing)/sign/[token]/checkbox-field.tsx
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/dropdown-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/form.tsx
  apps/web/src/app/(signing)/sign/[token]/initials-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/page.tsx
  apps/web/src/app/(signing)/sign/[token]/radio-field.tsx
  apps/web/src/app/(signing)/sign/[token]/recipient-context.tsx
  apps/web/src/app/(signing)/sign/[token]/signature-field.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  apps/web/src/app/embed/direct/[[...url]]/client.tsx
  apps/web/src/app/embed/direct/[[...url]]/page.tsx
  apps/web/src/app/embed/document-fields.tsx
  apps/web/src/app/embed/sign/[[...url]]/client.tsx
  apps/web/src/app/embed/sign/[[...url]]/page.tsx
  apps/web/src/app/embed/waiting-for-turn.tsx
  apps/web/src/components/(dashboard)/common/command-menu.tsx
  apps/web/src/components/(teams)/dialogs/transfer-team-dialog.tsx
  apps/web/src/components/document/document-history-sheet.tsx
  packages/app-tests/e2e/document-flow/stepper-component.spec.ts
  packages/email/template-components/template-document-invite.tsx
  packages/lib/constants/document-audit-logs.ts
  packages/lib/constants/recipient-roles.ts
  packages/lib/server-only/document/resend-document.tsx
  packages/lib/server-only/field/get-fields-for-token.ts
  packages/lib/server-only/field/remove-signed-field-with-token.ts
  packages/lib/server-only/field/sign-field-with-token.ts
  packages/lib/server-only/recipient/get-recipient-by-token.ts
  packages/lib/server-only/recipient/get-recipients-for-assistant.ts
  packages/lib/types/document-audit-logs.ts
  packages/lib/utils/document-audit-logs.ts
  packages/prisma/migrations/20250108133544_add_assistant_recipient_role/migration.sql
  packages/prisma/schema.prisma
  packages/prisma/types/recipient-with-fields.ts
  packages/ui/components/recipient/recipient-role-select.tsx
  packages/ui/primitives/document-flow/add-fields.tsx
  packages/ui/primitives/document-flow/add-signers.tsx
  packages/ui/primitives/document-flow/signing-order-confirmation.tsx
  packages/ui/primitives/radio-group.tsx
  packages/ui/primitives/recipient-role-icons.tsx
  packages/ui/primitives/template-flow/add-template-fields.tsx
  packages/ui/primitives/template-flow/add-template-placeholder-recipients.tsx
Labels: apps: web, version bump 👀, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1593 fix: unable to check on the checkbox field
  apps/web/src/app/(signing)/sign/[token]/checkbox-field.tsx
Labels: apps: web

#1565 fix: field label/text truncation
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/ui/primitives/document-flow/field-icon.tsx
Labels: apps: web

#1635 fix: typed signature not working
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  apps/web/src/app/(signing)/sign/[token]/signing-page-view.tsx
Labels: apps: web

#1622 chore: update local seed data
  package-lock.json
  packages/prisma/seed/initial-seed.ts
Labels: version bump 👀

#1648 fix: prepare auth migration
  packages/prisma/migrations/20250217120859_add_session_fields/migration.sql
  packages/prisma/schema.prisma
Labels: 🚨 migrations 🚨

#1662 feat: allow document rejection in embeds
  apps/web/src/app/(signing)/sign/[token]/reject-document-dialog.tsx
  apps/web/src/app/embed/rejected.tsx
  apps/web/src/app/embed/sign/[[...url]]/client.tsx
  apps/web/src/app/embed/sign/[[...url]]/schema.ts
  packages/lib/server-only/document/complete-document-with-token.ts
Labels: apps: web

#1677 fix: stripe price fetch
  packages/ee/server-only/stripe/get-prices-by-plan.ts
Labels: pkg: ee changes

#1607 chore: add label for checkbox and radio fields
  apps/web/src/app/(signing)/sign/[token]/signing-field-container.tsx
  packages/ui/primitives/document-flow/field-item.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/checkbox-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/radio-field.tsx
Labels: apps: web
