Repository documenso/documenso, pull requests merged in 2025-01, with the labels that each got.

#1571 feat: allow switching document when using templates
  apps/web/src/app/(dashboard)/templates/use-template-dialog.tsx
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: coderabbit, apps: web, 🚨 e2e changes 🚨

#1566 fix: add document visibility to template
  apps/web/src/app/(dashboard)/templates/[id]/edit/edit-template.tsx
  packages/app-tests/e2e/templates-flow/template-settings-step.spec.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/app-tests/e2e/templates/direct-templates.spec.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/template/update-template-settings.ts
  packages/prisma/migrations/20241231121013_add_visibility_to_template/migration.sql
  packages/prisma/schema.prisma
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/template-flow/add-template-settings.tsx
  packages/ui/primitives/template-flow/add-template-settings.types.tsx
Labels: apps: web, 🚨 migrations 🚨, 🚨 e2e changes 🚨

#1582 feat: add consistent response schemas
  apps/web/src/app/(dashboard)/documents/[id]/edit-document.tsx
  apps/web/src/app/(dashboard)/documents/data-table.tsx
  apps/web/src/pages/api/v2-beta/[...trpc].ts
  package-lock.json
  packages/api/v1/implementation.ts
  packages/lib/server-only/document-meta/upsert-document-meta.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/document/duplicate-document-by-id.ts
  packages/lib/server-only/document/find-documents.ts
  packages/lib/server-only/document/get-document-with-details-by-id.ts
  packages/lib/server-only/document/move-document-to-team.ts
  packages/lib/server-only/document/send-document.tsx
  packages/lib/server-only/document/update-document.ts
  packages/lib/server-only/field/create-document-fields.ts
  packages/lib/server-only/field/create-template-fields.ts
  packages/lib/server-only/field/get-field-by-id.ts
  packages/lib/server-only/field/set-fields-for-document.ts
  packages/lib/server-only/field/set-fields-for-template.ts
  packages/lib/server-only/field/update-document-fields.ts
  packages/lib/server-only/field/update-template-fields.ts
  packages/lib/server-only/recipient/create-document-recipients.ts
  packages/lib/server-only/recipient/create-template-recipients.ts
  packages/lib/server-only/recipient/get-recipient-by-id.ts
  packages/lib/server-only/recipient/set-document-recipients.ts
  packages/lib/server-only/recipient/set-template-recipients.ts
  packages/lib/server-only/recipient/update-document-recipients.ts
  packages/lib/server-only/recipient/update-template-recipients.ts
  packages/lib/server-only/template/create-document-from-template.ts
  packages/lib/types/document.ts
  packages/lib/types/field.ts
  packages/lib/types/recipient.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/field-router/schema.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web, version bump 👀

#1583 feat: add prisma json types
  apps/documentation/package.json
  apps/openpage-api/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/api/v1/implementation.ts
  packages/app-tests/e2e/templates/create-document-from-template.spec.ts
  packages/app-tests/package.json
  packages/eslint-config/package.json
  packages/lib/server-only/2fa/setup-2fa.ts
  packages/lib/server-only/field/update-field.ts
  packages/lib/types/document-form-values.ts
  packages/lib/types/field-meta.ts
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/prisma/types/types.d.ts
  packages/signing/helpers/update-signing-placeholder.ts
  packages/signing/transports/google-cloud-hsm.ts
  packages/signing/transports/local-cert.ts
  packages/ui/package.json
Labels: apps: web, version bump 👀, 🚨 e2e changes 🚨

#1584 feat: add create document beta endpoint
  .github/workflows/e2e-tests.yml
  apps/web/src/app/(dashboard)/documents/data-table-action-button.tsx
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-profile-page-view.tsx
  apps/web/src/app/(dashboard)/settings/public-profile/public-templates-data-table.tsx
  apps/web/src/app/(dashboard)/templates/[id]/edit/edit-template.tsx
  apps/web/src/app/(dashboard)/templates/data-table-templates.tsx
  apps/web/src/app/(recipient)/d/[token]/configure-direct-template.tsx
  apps/web/src/app/(recipient)/d/[token]/direct-template.tsx
  apps/web/src/app/(recipient)/d/[token]/sign-direct-template.tsx
  packages/app-tests/e2e/document-flow/settings-step.spec.ts
  packages/app-tests/playwright.config.ts
  packages/lib/constants/date-formats.ts
  packages/lib/server-only/document/create-document-v2.ts
  packages/lib/server-only/document/create-document.ts
  packages/lib/server-only/field/create-document-fields.ts
  packages/lib/server-only/template/create-template-direct-link.ts
  packages/lib/server-only/template/duplicate-template.ts
  packages/lib/server-only/template/find-templates.ts
  packages/lib/server-only/template/get-template-by-id.ts
  packages/lib/server-only/template/move-template-to-team.ts
  packages/lib/server-only/template/toggle-template-direct-link.ts
  packages/lib/server-only/template/update-template.ts
  packages/lib/translations/de/web.po
  packages/lib/translations/en/web.po
  packages/lib/translations/es/web.po
  packages/lib/translations/fr/web.po
  packages/lib/types/field-meta.ts
  packages/lib/types/field.ts
  packages/lib/types/template.ts
  packages/lib/utils/document-visibility.ts
  packages/prisma/types/document-with-data.ts
  packages/prisma/types/template.ts
  packages/trpc/server/document-router/router.ts
  packages/trpc/server/document-router/schema.ts
  packages/trpc/server/field-router/router.ts
  packages/trpc/server/field-router/schema.ts
  packages/trpc/server/open-api.ts
  packages/trpc/server/recipient-router/router.ts
  packages/trpc/server/recipient-router/schema.ts
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
  packages/ui/primitives/document-flow/add-settings.tsx
  packages/ui/primitives/document-flow/add-settings.types.ts
  packages/ui/primitives/document-flow/add-subject.tsx
  packages/ui/primitives/template-flow/add-template-settings.tsx
  packages/ui/primitives/template-flow/add-template-settings.types.tsx
Labels: apps: web, 🚨 e2e changes 🚨

#1595 fix: correct redirect after document duplication
  apps/web/src/app/(dashboard)/documents/data-table-action-dropdown.tsx
  apps/web/src/app/(dashboard)/documents/duplicate-document-dialog.tsx
Labels: apps: web

#1610 feat: add text align option to fields
  apps/web/src/app/(signing)/sign/[token]/date-field.tsx
  apps/web/src/app/(signing)/sign/[token]/email-field.tsx
  apps/web/src/app/(signing)/sign/[token]/name-field.tsx
  apps/web/src/app/(signing)/sign/[token]/number-field.tsx
  apps/web/src/app/(signing)/sign/[token]/text-field.tsx
  packages/lib/server-only/pdf/insert-field-in-pdf.ts
  packages/lib/types/field-meta.ts
  packages/ui/primitives/document-flow/field-item-advanced-settings.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/date-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/email-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/initials-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/name-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/number-field.tsx
  packages/ui/primitives/document-flow/field-items-advanced-settings/text-field.tsx
Labels: apps: web

#1548 fix: admin leaderboard query sorting
  apps/web/src/app/(dashboard)/admin/leaderboard/data-table-leaderboard.tsx
  packages/lib/server-only/admin/get-signing-volume.ts
Labels: apps: web

#1578 feat: bulk send templates via csv
  apps/web/src/app/(dashboard)/templates/[id]/template-page-view.tsx
  apps/web/src/app/(dashboard)/templates/data-table-action-dropdown.tsx
  apps/web/src/components/templates/template-bulk-send-dialog.tsx
  package-lock.json
  packages/email/templates/bulk-send-complete.tsx
  packages/lib/jobs/client.ts
  packages/lib/jobs/definitions/emails/send-bulk-complete-email.ts
  packages/lib/jobs/definitions/internal/bulk-send-template.handler.ts
  packages/lib/jobs/definitions/internal/bulk-send-template.ts
  packages/lib/package.json
  packages/trpc/server/template-router/router.ts
  packages/trpc/server/template-router/schema.ts
Labels: apps: web, version bump 👀

#1608 chore: add cancelled webhook event
  apps/documentation/pages/developers/webhooks.mdx
  packages/lib/server-only/document/delete-document.ts
  packages/prisma/migrations/20250124135853_add_cancelled_event_webhooks/migration.sql
  packages/prisma/schema.prisma
Labels: 🚨 migrations 🚨
